<?php

namespace MotFitnesse\Util;

/*
 * Constants that vary between dev and CI builds
 */
class TestBase
{
    const TESTSUPPORT_URL = 'http://mot-testsupport';
    const API_URL = 'http://mot-api';
    const TEST_LOG_LOCATION = "/tmp/fitnesse-php.log";
}
