<footer role="contentinfo" id="footer" class="module-global-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 global-footer_meta">
        <nav class="global-footer_navigation">
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Cymraeg</a></li>
            <li>Built by the <a href="#">Driver &amp; Vehicle Standards Agency</a></li>
          </ul>
        </nav>
        <p class="global-footer_licence"><a class="licence-logo" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence</a> All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence v2.0</a>, except where otherwise stated</p>
      </div>
      <div class="col-sm-3 global-footer_copyright">
        <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
