<form role="form" novalidate>
  <!--
  TC.
  NB the "novalidate" attribute used to disable client-side browser validation
  on HTML5 inputs as we can't style or control content
  -->
  <fieldset>
    <legend>Your details</legend>
    <div class="form-group">
      <label for="text1">First name</label>
      <input type="text" class="form-control" id="text1">
    </div>
    <div class="form-group">
      <label for="text2">Middle name</label>
      <input type="text" class="form-control" id="text2">
    </div>
    <div class="form-group">
      <label for="text3">Last name</label>
      <input type="text" class="form-control" id="text3">
    </div>
    <div class="form-group">
      <fieldset>
        <legend class="form-label">Gender</legend>
        <label class="block-label" for="radio-1-1">
          <input type="radio" value="M" name="radio-1-group" id="radio-1-1">
          Male
        </label>
        <label class="block-label" for="radio-1-2">
          <input type="radio" value="F" name="radio-1-group" id="radio-1-2">
          Female
        </label>
      </fieldset>
    </div>
    <div class="form-group">
      <fieldset>
        <legend class="form-label">Date of birth</legend>
        <div class="date-group">
          <div class="form-group form-group-day">
            <label for="text4">Day</label>
            <input type="text" pattern="[0-9]*" id="text4" class="form-control">
          </div>
          <div class="form-group form-group-month">
            <label for="text5">Month</label>
            <input type="text" pattern="[0-9]*" id="text5" class="form-control">
          </div>
          <div class="form-group form-group-year">
            <label for="text6">Year</label>
            <input type="text" pattern="[0-9]*" id="text6" class="form-control">
          </div>
        </div>
      </fieldset>
    </div>
  </fieldset>
  
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Next</button>
    <br>
  </div>
  <div class="form-group">
    <a href="#">Return to contact details</a>
  </div>
</form>

