<section class="module-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 hero-content">
        <h1><small>MOT modernisation</small>Your home</h1>
        <p>Welcome to MOT modernisation. Before you can do anything you'll need to fill in an application form to become a tester or an AEDM or both.</p>
      </div>
      <div class="col-md-4 hero-actions">
        <h2>Applications</h2>
        <ul class="list-unstyled">
          <li><a href="#">Apply to be a tester</a></li>
          <li><a href="#">Apply to be an AEDM</a></li>
          <li><a href="#">Apply to for VTS approval</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

