<header class="module-global-header">
  <div class="container">
    <a class="global-header_home-link" href="/"><img src="img/logo_mot2.gif" alt="MOT"></a>
    <p class="global-header_name">
    Pattern Library
    </p>
    <nav class="global-header_navigation">
      <ul>
        <li><a href="/" class="selected">Home</a></li>
        <li><a href="foundations">Foundations</a></li>
        <li><a href="building-blocks" >Building blocks</a></li>
        <li><a href="web-patterns">Web patterns</a></li>
        <li><a href="content-guide">Content guide</a></li>
        <li><a href="colour-palette">Colour palette</a></li>
        <li><a href="templates">Templates</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
    <div class="module-colour-flash">
    </div>
</div>
<div class="container">
     <p class="module-phase"><strong class="phase-name is-alpha">ALPHA</strong> This is a new service - your <a href="#">feedback</a> will help us to improve it.</p>
</div>
