   <header class="module-global-header">
      <div class="container">
          <a class="global-header_home-link" href="/"><img src="img/logo_mot2.gif" alt="MOT"></a>
          <p class="global-header_name">
            Anthony Wright
            <span class="global-header_user-id"> - WRI1975</span><!-- shown if more than one user with the same name is on AE / VTS -->
            <span class="global-header_status is-active"><strong class="visually-hidden">Tester status: </strong>Active</span>
          </p>
          <p class="global-header_address">
              Quickfit - Bristol South BR2 11GH
              <a href="#">Change Site</a> 
          </p>
          <nav class="global-header_navigation">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Your Profile</a></li>
              <li><a href="#">Sign out</a></li>
            </ul>
          </nav>
      </div>
    </header>
    <div class="container">
        <div class="module-colour-flash">
        </div>
    </div>
    <div class="container">
         <p class="module-phase"><strong class="phase-name is-alpha">ALPHA</strong> This is a new service - your <a href="#">feedback</a> will help us to improve it.</p>
    </div>

