<section class="module-notification">
  
  <header>
    <h2>Notifications</h2>
    <p class="notification-count">3<sup>unread</sup></p>
  </header>
  
  <article class="notification-default is-unread">
    <header>
      <p class="notification-subject"><a href="#" class="notification-link">You need to arrange MOT training 3</a></p>
      <p><time pubdate class="notification-time">29 May 2014 12:53</time></p>
    </header>
  </article>
  <article class="notification-default is-unread">
    <header>
      <p class="notification-subject"><a href="#" class="notification-link">Your application to become a tester has been recieved by John Smithson at Kwik Fit Bristol</a></p>
      <p><time pubdate class="notification-time">1 June 2014 10:01</time></p>
    </header>
  </article>
  
  <article class="notification-default is-read">
    <header>
      <p class="notification-subject"><a href="#" class="notification-link">You need to arrange MOT training 2</a></p>
      <p><time pubdate class="notification-time">29 May 2014 12:53</time></p>
    </header>
  </article>
  
  <article class="notification-default is-read">
    <header>
      <p class="notification-subject"><a href="#" class="notification-link">You need to arrange MOT training 1</a></p>
      <p><time pubdate class="notification-time">29 May 2014 12:53</time></p>
    </header>
  </article>
  
  <footer>
    <a href="#">View all notifiations</a>
  </footer>
</section>

