<section class="c-home-block">
    <header class="c-home-block__head">
        <h2 class="c-home-block__title">Contingency Tests</h2>
    </header>
    <ul>
        <li class="u-space-b10">
            <a id="action-view-performance-dashboard" href="{{ url('contingency') }}">
                Record contingency test
            </a>
        </li>
        <li class="u-space-b10">
            <a href="{{ url('forms/contingency-pass-certificate') }}" target="_blank">
                CT20 Pass Certificate</a>
        </li>
        <li class="u-space-b10">
            <a href="{{ url('forms/contingency-advisory-certificate') }}" target="_blank">
                CT32 Advisory Continuation Sheet</a>
        </li>
        <li>
            <a href="{{ url('forms/contingency-fail-certificate') }}" target="_blank">
                CT30 Fail Continuation Sheet</a>
        </li>
    </ul>
</section>