{% if heroAction.isHeroActionVisible %}
    <div id="hero-actions" class="c-home-hero__actions">
        {% if heroAction.isSlotCountVisible %}
            {% include '/dashboard/user-home/slots.twig' with {'slotBalanceAction': dashboard.heroActionViewModel} %}
        {% endif %}

        <ul class="c-action-list">
            {% if heroAction.isReplacementDuplicateCertificateLinkVisible %}
                {% include '/dashboard/user-home/replacement-duplicate-certificate.twig'
                with {'replacementDuplicateCertificateAction': dashboard.heroActionViewModel} %}
            {% endif %}
            {% if heroAction.isMotFormsLinkVisible %}
                {% include '/dashboard/user-home/mot-forms.twig' %}
            {% endif %}
        </ul>
    </div>
{% endif %}
