{% if nonMotTest.isVisible %}
    <div class="c-home-block">
        <header class="c-home-block__head">
            <h2 class="c-home-block__title">Non-MOT test</h2>
        </header>

        <p>A non-MOT test will produce a test number and VT32/VE certificate. It will not show on a vehicle's MOT history.</p>

        <p>
            <a href="{{ nonMotTest.linkViewModel.href }}" class="button" id="{{ nonMotTest.linkId }}">
                {{ nonMotTest.linkViewModel.text }}
            </a>
        </p>
    </div>
{% endif %}