<li class="c-action-list__item">
    <a class="c-action-list__link" href="{{ url('replacement-certificate-vehicle-search') }}" id="action-start-certificate-reissue">
        replacement/duplicate certificate
    </a>
</li>
