{% if targetedReinspectionAction.hasTestInProgress %}
    <a href="{{ targetedReinspectionAction.getUrl }}"
       class="button button-start"
       id="action-resume-mot-test">
        Resume Reinspection
    </a>
{% endif %}