{% do placeholder('hero').captureStart() %}
<section class="c-home-hero">
    <div class="o-wrapper u-clearfix">
        <div class="c-home-hero__content">
            <h1 class="c-home-hero__title">
                Your home
            </h1>

            {% if dashboard.showDemoMessage %}
                <p>Your access is restricted to the demo mode. Only fully qualified testers employed at a VTS have access to the full system.</p>
            {% endif %}
        </div>

        {% include '/dashboard/user-home/hero-action.twig' with {'heroAction': dashboard.heroActionViewModel} %}

    </div>

</section>
{% do placeholder('hero').captureEnd() %}

{% if layout().flashMessenger.getErrorMessages()|length > 0 %}
    <div class="validation-summary">
        <ol>
            {% for message in layout().flashMessenger.getErrorMessages() %}
                <li>{{ message }}</li>
            {% endfor %}
        </ol>
    </div>
{% endif %}

{% if dashboard.specialNoticeViewModel.isOverdue %}
    {% do placeholder('banner').captureStart() %}
    <div class="o-wrapper">
        <div class="banner--error rf-home-message">
            <strong class="banner__heading-large">You have an overdue special notice</strong>
            <span class="font-small"><a href="{{ url('special-notices') }}">Read and acknowledge</a> the Special Notice to be able to perform an MOT test.</span>
        </div>
    </div>
    {% do placeholder('banner').captureEnd() %}
{% endif %}

<div class="grid-row">
    <div class="column-half">
        {% include '/dashboard/user-home/special-notices.twig' with {'specialNotice': dashboard.specialNoticeViewModel} %}

        {% include '/dashboard/user-home/notifications.twig' with {'notifications': dashboard.notificationsViewModel} %}
    </div>

    <div class="column-half">
        {% include '/dashboard/user-home/authorised-examiner.twig' with {'authorisedExaminers': dashboard.authorisedExaminersViewModel} %}

        {% if dashboard.showYourPerformance %}
            {% include '/dashboard/user-home/your-performance.twig' %}
        {% endif %}

        {% include '/dashboard/user-home/training-test.twig' with {'trainingTest': dashboard.trainingTestViewModel} %}

        {% if dashboard.showContingencyTests %}
            {% include '/dashboard/user-home/contingency-tests.twig' %}
        {% endif %}
    </div>
</div>
