<section class="c-home-block">
    <header class="c-home-block__head">
        <h2 class="c-home-block__title">Your performance</h2>
    </header>
    <ul>
        <li>
            <a id="action-view-performance-dashboard" href="{{ url('user-home/stats') }}">
                Performance dashboard
            </a>
        </li>
    </ul>
</section>