<div class="banner--confirmation">
    <span class="banner__heading-large">Vehicle has been masked successfully</span>
    <span>You can unmask it in the vehicle record</span>
</div>

<div class="grid-row">

    <div class="column-two-thirds">

        <h3 class="heading-medium">What happens next?</h3>

        <p>Once you've done a non-MOT test, you can carry out a mystery shopper activity.</p>

        <nav class="content-navigation">
            <ul class="content-navigation__secondary">
                <li>
                    <a href="{{ url('vehicle/detail', {id: obfuscatedVehicleId}) }}">Continue to vehicle record</a>
                </li>
            </ul>
        </nav>
    </div>
</div>