<div class="banner--confirmation">
    <span class="banner__heading-large">Vehicle has been unmasked successfully</span>
</div>

<h3 class="heading-medium">What happens next?</h3>

<p>Any new MOT tests done will appear in the vehicle's MOT history as normal.</p>

<div class="grid-row">
    <div class="column-two-thirds">
        <nav class="content-navigation">
            <ul class="content-navigation__secondary">
                <li>
                    <a href="{{ url('vehicle/detail', {id: obfuscatedVehicleId}) }}">Continue to vehicle record</a>
                </li>
            </ul>
        </nav>
    </div>
</div>