<header class="content-header">
    <h1>
        <span class="content-header__title">Forgotten your answers to security questions</span>
    </h1>
</header>

<p class="lede">Contact the DVSA helpdesk to reset your account security.</p>

<div>
    {% include 'partial/gds/general/contactHelpdesk.twig' with {'config': config,} %}
</div>

<br>

<p>You will need to prove your identity by answering some questions about yourself.</p>

<nav class="content-navigation">
    <a href="{{ url( login | escape) }}">Sign in</a>
</nav>