<header class="transaction-header">
    <h1 class="transaction-header__title">Password changed</h1>
    <p class="transaction-header__next-step">Keep your sign in details private</p>
</header>
<h2 class="heading-medium">What happens next?</h2>

<p>You can now sign in with your user ID and new password.</p>

<nav class="content-navigation">
    <a href="{{ url('login') }}">Return to sign in</a>
</nav>
