/target

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# doc folder
doc/

test-output/

# IDEA's files
.idea
*.iml
/target

**/my.properties

# Allure reporting, result folder
allure-results/

#jenv configuration files
.java-version
