// Semantic colour names
$pass-text: #008500;
$warning-text: $govuk-blue;
$fail-text: $mellow-red;
$focus-colour: $yellow;
$hero-colour: #333385;
$colour-flash-colour: #000066;	
$footer-border-colour: #a1acb2;
