<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "true"
        syntaxCheck                 = "false"
        bootstrap="../test/init.php">
    <testsuites>
        <testsuite name="DbVerification">
            <directory>../module/*/integration-test/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="logs/DbVerification.xml" logIncompleteSkipped="false" />
        <!--<log type="coverage-clover" target="/workspace/coverage/coverage.xml"/>-->
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" >
            <directory suffix=".php">test/*/*</directory>
        </whitelist>
    </filter>
</phpunit>

