!define TEST_SYSTEM {slim}
!define TEST_RUNNER            (REPLACE_ME/FitNesseRoot/Slim/phpslim.phar)
!define COMMAND_PATTERN (php %m REPLACE_ME/FitNesseRoot/Slim)

!define DB_HOST {REPLACE_DB_HOST}

!define API_PROJECT_DIR_NAME {mot-api}
!define API_PROJECT_DB_DIR {REPLACE_ME/../${API_PROJECT_DIR_NAME}/db}

!define PUBLIC_API_PROJECT_DIR_NAME {mot-public-api}
!define PUBLIC_API_PROJECT_DB_DIR {REPLACE_ME/../${PUBLIC_API_PROJECT_DIR_NAME}/db}

#populate above REPLACE_ME placeholders with path to slim tests (e.g. /Users/somename/Projects/DVSA/src/mot-fitnesse/FitNesseRoot/Slim)
# e.g. !define COMMAND_PATTERN (php %m /Users/somename/Projects/DVSA/src/mot-fitnesse/FitNesseRoot/Slim)
