.module-criteria {

    .criteria__list {
        margin-top: 15px;
        margin-bottom: 15px;

        list-style-type: none;
    }

    .criteria__criterion {
        padding-left: 5px;

        &:before {
            font-family: 'FontAwesome';
            font-weight: normal;
            content: '\f0a9';
            padding-right: 10px;
            color: $grey-2;
            display: inline-block;
            transition: transform .1s cubic-bezier(.25, -.25, .735, .25) 0s, color .3s ease-in 0s;

        }
    }

    .criteria__criterion--has-passed {
        @extend .criteria__criterion;

        &:before {
            transform: scale3d(1.2, 1.2, 1);
            content: '\f058';
            color: $green;
        }
    }

    .criteria__criterion--has-failed {
        @extend .criteria__criterion;

        &:before {
            transform: scale3d(1.2, 1.2, 1);
            content: '\f057';
            color: $error-colour;
        }
    }

}

