<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    // Whether or not to enable a configuration cache.
    // If enabled, the merged configuration will be cached and used in
    // subsequent requests.
    //'config_cache_enabled' => false,
    // The key used to create the configuration cache file name.
    //'config_cache_key' => 'module_config_cache',
    // The path in which to cache merged configuration.
    //'cache_dir' =>  './data/cache',
    // ...

    // Base URL for this application
    'baseUrl' => 'http://mot-web-frontend.mot.gov.uk',
    // URL to DVSA REST API with slash (/) at the end
    'apiUrl' => 'http://mot-api/',
    // File path to log file
    'logPath' => '/var/log/dvsa/mot-web-frontend.log',
    'logApiCalls' => true,
    // Log level to filter log messages, see Zend\Log\Logger, e.g. 7 for DEBUG
    'logLevel' => 7, // DEBUG, WARN=4
    'showErrorsInFrontEnd' => (getenv('APPLICATION_ENV') === 'development'),

    'DvsaApplicationLogger' => [
        'registerExceptionHandler' => true,
        'writers' => [
            'web-frontend-flat-file' => [
                'adapter' => '\Zend\Log\Writer\Stream',
                'options' => [
                    'output' => '/var/log/dvsa/mot-webfrontend.log',
                ],
                'filter' => \Zend\Log\Logger::DEBUG,
                'enabled' => true
            ],
        ]
    ],

    'cache' => [
        'instance' => 'doctrine.cache.apc',
    ],

    'rest_client' => [
        'cache' => [
            'enabled' => true,
            'mot-test' => [
                'lifetime' => 7200
            ],
            'person' => [
                'lifetime' => 7200
            ],
        ]
    ],
);
