<?php
/**
 * This config file contains the current feature toggles.
 *
 * Each entry in the `feature_toggle` array should be comprised of a string key identifying the feature and a boolean as
 * value defining if the feature should be enabled or disabled.
 */

return [
    'feature_toggle' => [
        /*
         * Example feature is disabled by default. Enable it at your own risk.
         */
        'example.feature.toggle' => false,
        'ao1.ae.create'          => true,
        'ao1.ae.site.link'       => true,
        'ao1.ae.site.unlink'     => true,
        'ao1.ae.edit'            => true,
        'ao1.site.create'        => true,

        /*
         * Enable login and logout using the OpenAM DAS interface.
         */
        'openam.das.enabled' => true,
        
        /*
         * Will force user to enter reset password when it's near to expire.
         */
        'openam.password.expiry.enabled' => false,

        /**
         * Enable Jasper async printing
         */
        'jasper.async' => false,

        /**
         * To control displaying the 2FA method row in the admin area
         */
        '2fa.method.visible' => false,
    ]
];
