<?php
/**
 * This config file contains the current feature toggles.
 *
 * Each entry in the `feature_toggle` array should be comprised of a string key identifying the feature and a boolean as
 * value defining if the feature should be enabled or disabled.
 */

return [
    'feature_toggle' => [
        /*
         * Will force user to enter reset password when it's near to expire.
         */
        'openam.password.expiry.enabled' => false,

        /*
         * Enable Jasper async printing.
         */
        'jasper.async' => false,

        /*
         * Enable VTS risk score & RAG.
         */
        'vts.risk.score' => true,

        /*
         * Enable new person profile layout.
         */
        'new_person_profile' => false,

        /*
         * To control displaying the 2FA method row in the admin area.
         */
        '2fa.method.visible' => false,

        /*
         * Enable extend timeframe for contingency tests from 3 months to infinity (<= today).
         * Value synchronized in API/WFE
         */
        'infinity.contingency' => true,
    ]
];
