<?php

return [
    'dvsa_authentication' => [
        'openAM' => [
            /*
             * The adapter used to talk to the OpenAM REST API.
             *
             * For SSL Connections to OpenAM we need to use Curl: 'Zend\Http\Client\Adapter\Curl'.
             */
            'adapter' => 'Zend\Http\Client\Adapter\Socket',
            /*
             * Username of the OpenAM admin account.
             */
            'admin_login' => 'amadmin',
            /*
             * Password of the OpenAM admin account.
             */
            'admin_password' => 'cangetinam',
            /*
             * Name of the cookie where the OpenAM session token is kept.
             */
            'cookie_name' => 'iPlanetDirectoryPro',
            /*
             * Path for OpenAM cookies.
             */
            'cookie_path' => '/',
            /*
             * Domain for OpenAM cookies.
             */
            'cookie_domain' => '.mot.gov.uk',
            /*
             * Secure flag value for OpenAM cookies.
             */
            'cookie_secure' => false,
            /*
             * Secure flag value for OpenAM cookies.
             */
            'cookie_http_only' => true,
            /*
             * Identity attribute name under which username is stored.
             */
            'identity_attribute_username' => 'uid',
            /*
             * Identity attribute name under which OpenAM entryuuid is stored.
             */
            'identity_attribute_uuid' => 'entryuuid',
            /*
             * Logout URL to logout of the application through OpenAM. Has a goto parameter that tells OpenAM where to
             * redirect after logout. Web Frontend only.
             */
            'logout_url' => 'http://openam.mot.gov.uk:8080/secure/UI/Logout?goto=',
            /*
             * Lowest level domain name of the OpenAM instance. Web Frontend only.
             */
            'lowest_level_domain' => 'openam',
            /*
             * Realm that will be used when adding new accounts.
             */
            'realm' => 'mot',
            /*
             * Name of the header/token that is used when calling OpenAM.
             */
            'token_field' => 'iPlanetDirectoryPro',
            /*
             * Base URL of the OpenAM REST API.
             */
            'url' => 'http://openam.mot.gov.uk:8080/secure/',
        ],
    ],
    'gaTrackingCode' => '',
    'security' => [
        'obfuscate' => [
            'key' => 'acjdajsd92md09282822',
            'entries' => [
                'vehicleId' => true,
             ],
        ],
    ],
    'showErrorsInFrontEnd' => (getenv('APPLICATION_ENV') === 'development'),

    // HTMLPurifier
    'soflomo_purifier' => [
        'config'          => [
            'Cache.SerializerPath'  => sys_get_temp_dir(),
        ],
    ],

    // Expiration in seconds of the password reset email
    // TO CHANGE In both FrontEnd And API
    'password_reset' => [
        'expireTime' => 5400,
    ],

    // Helpdesk name and contact details (MUST BE CHANGE in both FrontEnd and Api)
    'helpdesk' => [
        'name'        => 'DVSA Helpdesk',
        'phoneNumber' => '0330 123 5654',
        'openingHrs'  => '8:30am to 5:30pm',
        'openingHrsWeekdays' => 'Monday to Friday, 8:00am to 8:00pm',
        'openingHrsSaturday' => 'Saturday, 8:00am to 2:00pm',
        'openingHrsSunday' => 'Sunday, closed'
    ],
    /*
     * Relative or absolute paths to documents (manuals and guides) linked to in the application.
     */
    'documents' => [
        [
            'name'      => 'MOT inspection manual for class 1 and 2 vehicles',
            'url'       => '/documents/manuals/m1i00000001.htm',
            'help_text' => 'Manual for motor bicycle and side car testing',
        ],
        [
            'name'      => 'MOT inspection manual for class 3, 4, 5, and 7 vehicles',
            'url'       => '/documents/manuals/m4i00000001.htm',
            'help_text' => 'Manual for testing private passenger and light commercial vehicles',
        ],
        [
            'name'      => 'MOT testing guide',
            'url'       => '/documents/manuals/tgi00000001.htm',
            'help_text' => 'Guidance on how the MOT scheme is run',
        ],
        [
            'name'      => 'In service exhaust emission standards for road vehicles: 18th edition',
            'url'       => 'https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/348035/18th-edition-emissions-book-complete.pdf',
            'help_text' => 'Standards for checking vehicle exhaust emission procedures and limits',
        ]
    ],
    'recent_certificate_list' => [
        'page_size' => 20
    ],
    //how many days before password expires notifications are going to be sent
    'password_expiry_notification_days' => [7, 3, 2, 1],
];
