<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    //global.php
    'dvsa_authentication' => [
        'openAM' => [
            /*
             * The adapter used to talk to the OpenAM REST API.
             *
             * For SSL Connections to OpenAM we need to use Curl: 'Zend\Http\Client\Adapter\Curl'.
             */
            'adapter' => 'Zend\Http\Client\Adapter\Socket',
            /*
             * Username of the OpenAM admin account.
             */
            'admin_login' => 'amadmin',
            /*
             * Password of the OpenAM admin account.
             */
            'admin_password' => 'cangetinam',
            /*
             * Name of the cookie where the OpenAM session token is kept.
             */
            'cookie_name' => 'iPlanetDirectoryPro',
            /*
             * Path for OpenAM cookies.
             */
            'cookie_path' => '/',
            /*
             * Domain for OpenAM cookies.
             */
            'cookie_domain' => '.mot.gov.uk',
            /*
             * Secure flag value for OpenAM cookies.
             */
            'cookie_secure' => false,
            /*
             * Secure flag value for OpenAM cookies.
             */
            'cookie_http_only' => true,
            /*
             * Identity attribute name under which username is stored.
             */
            'identity_attribute_username' => 'uid',
            /*
             * Identity attribute name under which OpenAM entryuuid is stored.
             */
            'identity_attribute_uuid' => 'entryuuid',
            /*
             * Logout URL to logout of the application through OpenAM. Has a goto parameter that tells OpenAM where to
             * redirect after logout. Web Frontend only.
             */
            'logout_url'  => 'http://openam.mot.gov.uk:8080/secure/UI/Logout?goto=',
            /*
             * Lowest level domain name of the OpenAM instance. Web Frontend only.
             */
            'lowest_level_domain' => 'openam',
            /*
             * Realm that will be used when adding new accounts.
             */
            'realm' => 'mot',
            /*
             * Name of the header/token that is used when calling OpenAM.
             */
            'token_field' => 'iPlanetDirectoryPro',
            /*
             * Base URL of the OpenAM REST API.
             */
            'url' => 'http://openam.mot.gov.uk:8080/secure/',
        ],
        // This configuration allow us to access part of the application without being logged in
        'whiteList' => [
            '|^/forgotten-password(?!/update$)(.*)|'
        ]
    ],
    'gaTrackingCode' => '',
    'security' => [
        'obfuscate' => [
            'key' => 'acjdajsd92md09282822',
            'entries' => [
                'vehicleId' => true,
            ],
        ],
    ],
    'showErrorsInFrontEnd' => (getenv('APPLICATION_ENV') === 'development'),

    // HTMLPurifier
    'soflomo_purifier' => [
        'config'          => [
            'Cache.SerializerPath'  => sys_get_temp_dir(),
        ],
    ],

    // Expiration in seconds of the password reset email
    // TO CHANGE In both FrontEnd And API
    'password_reset' => [
        'expireTime' => 5400,
    ],

    // Helpdesk name and contact details (MUST BE CHANGE in both FrontEnd and Api)
    'helpdesk' => [
        'name'        => 'DVSA Helpdesk',
        'phoneNumber' => '0330 123 5654',
        'openingHrs'  => '8:30am to 5:30pm',
        'openingHrsWeekdays' => 'Monday to Friday, 8:00am to 8:00pm',
        'openingHrsSaturday' => 'Saturday, 8:00am to 2:00pm',
        'openingHrsSunday' => 'Sunday, closed'
    ],

    //features.local.php
    'feature_toggle' => [
        /*
         * Example feature is disabled by default. Enable it at your own risk.
         */
        'example.feature.toggle' => false,
        'ao1.ae.create'          => true,
        'ao1.ae.edit'            => true,
        'ao1.site.create'        => true,
    ],

    //production.php
    // Whether or not to enable a configuration cache.
    // If enabled, the merged configuration will be cached and used in
    // subsequent requests.
    //'config_cache_enabled' => false,
    // The key used to create the configuration cache file name.
    //'config_cache_key' => 'module_config_cache',
    // The path in which to cache merged configuration.
    //'cache_dir' =>  './data/cache',
    // ...

    // Base URL for this application
    'baseUrl' => 'http://mot-web-frontend.mot.gov.uk',
    // URL to DVSA REST API with slash (/) at the end
    'apiUrl' => 'http://mot-api/',
    'DvsaApplicationLogger' => [
        'registerExceptionHandler' => true,
        'writers' => [
            'web-frontend-flat-file' => [
                'adapter' => '\Zend\Log\Writer\Stream',
                'options' => [
                    'output' => '/var/log/dvsa/mot-webfrontend.log',
                ],
                'filter' => \Zend\Log\Logger::ERR,
                'enabled' => true
            ],
        ]
    ],
    'showErrorsInFrontEnd' => (getenv('APPLICATION_ENV') === 'development'),
    'idapUrl' => "http://mot-web-frontend/stub-idap/start",

    'cache' => [
        'instance' => 'doctrine.cache.memcached',
        'memcached' => [
            'servers' => [
                [
                    'host' => 'localhost',
                    'port' => 11211,
                ],
            ],
        ],
    ],

    'rest_client' => [
        'cache' => [
            'enabled' => true,
            'mot-test' => [
                'lifetime' => 7200
            ],
            'person' => [
                'lifetime' => 7200
            ],
        ]
    ],

    /*
     * How much time after password expires user has to reset his password.
     */
    'password_expiry_grace_period' => '30 days',
    'site_assessment' => [
        'green' => ['start' => 0, 'end' => 324.10],
        'amber' => ['start' => 324.11, 'end' => 459.20],
        'red' => ['start' => 459.21, 'end' => 999.99],
    ],
    //how many days before password expires notifications are going to be sent
    'password_expiry_notification_days' => [7, 3, 2, 1],
);
