<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    // Whether or not to enable a configuration cache.
    // If enabled, the merged configuration will be cached and used in
    // subsequent requests.
    //'config_cache_enabled' => false,
    // The key used to create the configuration cache file name.
    //'config_cache_key' => 'module_config_cache',
    // The path in which to cache merged configuration.
    //'cache_dir' =>  './data/cache',
    // ...

    // Base URL for this application
    'baseUrl' => 'http://mot-web-frontend.mot.gov.uk',
    // URL to DVSA REST API with slash (/) at the end
    'apiUrl' => 'http://mot-api/',
    'DvsaApplicationLogger' => [
        'registerExceptionHandler' => true,
        'writers' => [
            'web-frontend-flat-file' => [
                'adapter' => '\Zend\Log\Writer\Stream',
                'options' => [
                    'output' => '/var/log/dvsa/mot-webfrontend.log',
                ],
                'filter' => \Zend\Log\Logger::ERR,
                'enabled' => true
            ],
        ]
    ],
    'showErrorsInFrontEnd' => (getenv('APPLICATION_ENV') === 'development'),
    'idapUrl' => "http://mot-web-frontend/stub-idap/start",

    'cache' => [
        'instance' => 'doctrine.cache.memcache',
        'memcache' => [
            'servers' => [
                [
                    'host' => 'localhost',
                    'port' => 11211,
                    'persistent' => true,
                    'weight' => 1,
                ],
            ],
        ],
    ],

    'rest_client' => [
        'cache' => [
            'enabled' => true,
            'mot-test' => [
                'lifetime' => 7200
            ],
            'person' => [
                'lifetime' => 7200
            ],
            'site-name' => [
                'lifetime' => 14400
            ],
            'organisation-name' => [
                'lifetime' => 14400
            ],
        ]
    ],

    /*
     * How much time after password expires user has to reset his password.
     */
    'password_expiry_grace_period' => '30 days',
    'site_assessment' => [
        'green' => ['start' => 0, 'end' => 324.10],
        'amber' => ['start' => 324.11, 'end' => 459.20],
        'red' => ['start' => 459.21, 'end' => 999.99],
    ],
    //how many days before password expires notifications are going to be sent
    'password_expiry_notification_days' => [7, 3, 2, 1],
);
