<?php

/**
 * Set of overrides to support AWS Vagrant boxes.
 */

if ((($temp = strlen($_SERVER['SERVER_NAME']) - strlen('.motdev.org.uk')) < 0 || strpos($_SERVER['SERVER_NAME'], '.motdev.org.uk', $temp) === false)) {
    return [];
}

return [
    'dvsa_authentication' => [
        'openAM' => [
            'cookie_domain' => '.motdev.org.uk',
            'logout_url' => 'https://dev.motdev.org.uk/secure/UI/Login?realm=mot&goto=',
            'url' => 'http://openam.motdev.org.uk:8080/sso/',
        ],
    ],
    'baseUrl' => 'https://dev.motdev.org.uk',
    'apiUrl' => 'http://dev2:80/',
];
