{% if messages is not empty %}
<div class="validation-summary">
    <h2 class="heading-medium">There was a problem</h2>
    <ol>
        {% for messageGroup in messages %}
            <li>{{ messageGroup|first }}</li>
        {% endfor %}
    </ol>
</div>
{% endif %}

