/*
    @name breadcrumb

    @category Molecule

    @status production

    @comments
    Used on the top of every page (> 1 level deep) to indicate a user's position within site hierarchy.

    Bootstrap dependency: None

    @example
    <ol class="module-breadcrumb" role="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/authorised-examiner/2">City and Guilds</a></li>
        <li>Assign a role</li>
    </ol>
*/

.module-breadcrumb {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: .5em 0;
    width: 100%;
    @include light-grey-bot-border;

    li {
        background: {
            image: url('https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png');
            position: 100% 50%;
            repeat: no-repeat;
        };
        display: inline-block;
        float: left;
        margin: .25em .5em .25em 0;
        padding-right: 1em;
    }

    li:last-child {
        background: none;
        margin-right: 0;
        padding-right: 0;
    }
}

/*
    @name buttons
    
    @status production
    
    @comments
    Inherits from GOV styles and adds padding and semantic class names

    Bootstrap dependency: none

    @example-link-default
    <a href="#" class="button">Start MOT Test</a>

    @example-button-default
    <button class="button">Start MOT Test</button>

    @example-button-default-disabled
    <button class="button" disabled>Start MOT Test</button>

    @example-link-secondary
    <a href="#" class="button-secondary">cancel MOT Test</a>

    @example-link-warning
    <a href="#" class="button-warning">Abort MOT Test</a>
    
*/

@mixin button-mot {
    
    padding: .52632em .78947em .26316em;

    &:hover, 
    &:focus {
        text-decoration: none;
    }
}

.button {
    @include button;
    @include button-mot;
}

.button-secondary {
    @include button($grey-3);
    @include button-mot;
}

.button-warning {
    @include button($red);
    @include button-mot;
}

/*
    @name content-header
    
    @status production
    
    @comments
    Used to create the page header (page type, title and task progress)

    Bootstrap dependency: None

    @example
    <header class="module-content-header">
        <h1>
            <span class="content-header_type">Authorised Examiner</span>
            <span class="content-header_title">City and Guilds</span>
            <span class="content-header_progress">Step 1 of 3</span>
        </h1>
    </header>
*/

.module-content-header {
    margin-bottom: 30px;
    overflow: auto;
    @include thick-bot-border;
    h1 {
        margin: 20px 0;
    }

    .content-header_type {
        color: $grey-1;
        display: block;
        font-size: .75em;
        line-height: 1em;
        font-weight: 300;
    }

    .content-header_title {}
    .content-header_progress {
        font-size: .528em;
        line-height: 1em;
        font-weight: 300;
        position: absolute;
        display: inline-block;
        right: 15px;
        color: $grey-1;
        
        &:before {
            content: '- ';
            display: inline-block;
            font-size: 1.895em;
            line-height: 1.1em;
            text-indent: -9999em;
        }
    }
}

