<?php
/**
 * This config file contains the current feature toggles.
 *
 * Each entry in the `feature_toggle` array should be comprised of a string key identifying the feature and a boolean as
 * value defining if the feature should be enabled or disabled.
 */

return [
    'feature_toggle' => [
        /*
         * Example feature is disabled by default. Enable it at your own risk.
         */
        'example.feature.toggle' => false,
    ]
];
