<?php

/**
 * Set of overrides to support AWS Vagrant boxes.
 */

if ((($temp = strlen(gethostname()) - strlen('.dev.dvsa')) < 0 || strpos(gethostname(), '.dev.dvsa', $temp) === false)) {
    return [];
}

return [
    'doctrine' => [
        'connection'    => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params'      => [
                    'host'     => 'mysql',
                ],
            ],
        ],
    ],
];
