      <div class="row contents">
        <nav class="col-sm-3">
          <h2>Contents</h2>
          <ol class="list-unstyled list-navigation">
            <li><a href="#atoms">Atoms</a></li>
          </ol>
        </nav>
        <div class="col-sm-8 col-sm-offset-1">
          <h2 id="atoms">Atoms</h2>

          {{{ atoms }}}

        </div>
      </div>

      <link href="css/prism.css" media="screen" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="js/prism.js"></script>
      <script type="text/javascript">
      $('.example').each(function(index) {
      //alert(index);
      var $this = $(this);
      //var sVisability = "block"; // "block" | "none"
      var sVisability = "none";
          $("<pre/>", { class: "language-markup", id: "code-block-" + index, style: "display:"+sVisability+";"})
            .append($("<code/>",{ text: $this.html().replace("col-sm-12","col-sm-8") }))
              .appendTo($this).before(
                            $("<p/>",{class:"code-link"}).append($("<a/>", { text: "Toggle code", href: '#', onclick: '$("#code-block-' + index + '").slideToggle("fast");return false;'}))
              );
                      
        });
      /*
          QUICK JS TO SHOW PROGRESSIVE ENHANCEMENT OF BLOCK RADIOS
          Taken from: http://govuk-elements.herokuapp.com/#guide-forms
      */
      $(".block-label").each(function() {
      // Add focus
      $(".block-label input").focus(function() {
        $("label[for='" + this.id + "']").addClass("add-focus");
        }).blur(function() {
        $("label").removeClass("add-focus");
      });
      // Add selected class
      $('input:checked').parent().addClass('selected');
    });
    // Add/remove selected class
    $('.block-label').find('input[type=radio], input[type=checkbox]').click(function() {
      $('input:not(:checked)').parent().removeClass('selected');
      $('input:checked').parent().addClass('selected');
      $('.toggle-content').hide();
      var target = $('input:checked').parent().attr('data-target');
      $('#'+target).show();
    });
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>
<style type="text/css">
    .example > p.code-link {
      background-color: #F5F2F0;
      margin-bottom: 0;
      margin-left: -30px;
      margin-right: -30px;
      padding: 15px 30px;
      border-top: 1px solid #BFC1C3;
      margin-top: 15px;
    }
    .example {
      padding: 30px 30px 0;
      margin-top: 30px;
    }
    .example pre{
      margin: 0 -30px; 
      border: none;
      padding: 15px 30px;
    }
</style>

