      <div class="row contents">
        <nav class="col-sm-3">
          <h2>Contents</h2>
          <ol class="list-unstyled list-navigation">
            <li><a href="#typography">Typography</a></li>
            <li><a href="#font-sizes">Font sizes</a></li>
            <li><a href="#spacing">Spacing</a></lis>
            <li><a href="#links">Links</a></li>
            <li><a href="#icons">Iconography</a></li>
            <li><a href="#images">Images</a></li>
            <li><a href="#buttons">Buttons</a></li>
            <li><a href="#tables">Tables</a></li>
          </ol>
        </nav>
        <div class="col-sm-8 col-sm-offset-1">
          <h2 id="typography">Typography</h2>
          <p class="font-example-nta">
          <span class="title">NTA</span>
          <span class="uppercase">abcdefghijklmnopqrstuvwxyz</span>
          <span>abcdefghijklmnopqrstuvwxyz</span>
          <span>1234567890-=!@£$%^&*()_+</span>
          </p>
          <!--h1><small>Small header</small> 36px Header One</h1>
          <h2>27px Header Two</h2>
          <h3>24px Header Three</h3>
          <h4>19px Header Four</h4>
          <h5>16px Header Five</h5>
          <h6>14px Header Six</h6-->
          <h2 id="font-sizes">Font sizes</h2>
          <!--p><span class="font-core80">font-core80 /</span><span class="font-bold80"> font-bold80</span></p-->
          <p><span class="font-core48">font-core48 /</span><span class="font-bold48"> font-bold48</span></p>
          <p><span class="font-core36">font-core36 /</span><span class="font-bold36"> font-bold36 / Header one</span></p>
          <p><span class="font-core27">font-core27 /</span><span class="font-bold27"> font-bold27 / Header two</span></p>
          <p><span class="font-core24">font-core24 /</span><span class="font-bold24"> font-bold24 / Header three</span></p>
          <p><span class="font-core19">font-core19 /</span><span class="font-bold19"> font-bold19 / Header four</span></p>
          <p><span class="font-core16">font-core16 /</span><span class="font-bold16"> font-bold16 / Header five</span></p>
          <p><span class="font-core14">font-core14 /</span><span class="font-bold14"> font-bold14 / Header six</span></p>
          
          <h2 id="spacing">Spacing</h2>
          <ul>
            <li>Spacing between elements is usually 5px, 10px, 15px or multiples of 15px</li>
            <li>gutters are 30px, made up of 15px padding on the main container and 15px padding on the inner column</li>
          </ul>
          <h2 id="links">Links</h2>
          <ul>
            <li>links within body copy should be blue and underlined</li>
            <li>links without surrounding text should not have a full stop at the end</li>
            <li>link colours can be found in the <a href="patterns_color-palette.php">colour palette</a></li>
          </ul>
          <div class="example">
            <h3>Example:</h3>
            <p><a href="#">A link without surrounding text</a></p>
            <p><a href="#">A body copy link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a href="#" rel="external">A body copy external link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <!--a href="#" class="secondary-link">Sencondary link</a-->
          </div>
        <pre>
          <xmp>
                      <p><a href="#">A link without surrounding text</a></p>
                      <p><a href="#">A body copy link.</a> Fusce dapibus...</p>
            <p>
                        <a href="#" rel="external">A body copy external link.</a> 
              Fusce dapibus...
            </p>
          </xmp>
</pre>
          <h2 id="icons">Iconography</h2>
          <p>DVSA uses the <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/" rel="external">fontawesome 4.0.1 icon set</a>.</p>
          <ul>
            <li>if icons are needed ensure they are clear, simple and accompanied by relevant text</li>
            <li>don’t hide functionality under icons</li>
          </ul>
          <div class="example">
            <h3>Example:</h3>
            <div class="row">
              <div class="col-sm-4">
                <i class="fa fa-exclamation-circle"> </i>
                <p>16 pixles</p>
              </div>
              <div class="col-sm-4">
                <i class="fa fa-exclamation-circle fa-24"> </i>
                <p>24 pixles</p>
              </div>
              <div class="col-sm-4">
                <i class="fa fa-exclamation-circle fa-36"> </i>
                <p>36 pixles</p>
              </div>
            </div>
          </div>
        <pre>
          <xmp>
            <i class="fa fa-exclamation-circle"> </i>
            <i class="fa fa-exclamation-circle fa-24"> </i>
            <i class="fa fa-exclamation-circle fa-36"> </i>
          </xmp>
</pre>
          <h2 id="images">Images</h2>
          <p>Avoid unnecessary decoration - only use images if there's a real user need. If images are needed they should be landscape, 3:2 aspect ratio.</p>
          <!--p>When ready an image library will be available.</p-->
          <h2 id="buttons">Buttons</h2>
          <div class="example">
            <h3>Primary button</h3>
            <button class="btn btn-primary">Primary Button</button>
          </div>
        <pre>
          <xmp>
            <button class="btn btn-primary">Primary Button</button>
          </xmp>
</pre>
          <div class="example">
            <h3>Primary button disabled</h3>
            <button class="btn btn-primary" disabled>Primary Button</button>
          </div>
        <pre>
          <xmp>
            <button class="btn btn-primary" disabled>Primary Button</button>
          </xmp>
</pre>
          <div class="example">
            <h3>Secondary button</h3>
            <button class="btn btn-link">Secondary button</button>
          </div>
        <pre>
          <xmp>
            <button class="btn btn-link">Secondary button</button>
          </xmp>
</pre>
          <h2 id="tables">Lists</h2>
          <p>List items start with a lowercase letter and have no full stop at the end.</p>
          <div class="example">
            <ul>
              <li>here is an unordered, bulleted list</li>
              <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
            </ul>
            <ol>
              <li>here is an ordered list</li>
              <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
              <li>vestibulum id ligula porta felis euismod semper</li>
              <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
            </ol>
          </div>
          <h2 id="tables">Tables</h2>
          <div class="example">
            <h3>Standard table</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Column One</th>
                  <th scope="col">Column Two</th>
                  <th scope="col">Column Three</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Data 1.1</td>
                  <td>Data 1.2</td>
                  <td>Data 1.3</td>
                </tr>
                <tr>
                  <td>Data 2.1</td>
                  <td>Data 2.2</td>
                  <td>Data 2.3</td>
                </tr>
                <tr>
                  <td>Data 3.1</td>
                  <td>Data 3.2</td>
                  <td>Data 3.3</td>
                </tr>
              </tbody>
            </table>
          </div>
        <pre>
            <xmp>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Column One</th>
                                    <th scope="col">Column Two</th>
                                    <th scope="col">Column Three</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Data 1.1</td>
                                    <td>Data 1.2</td>
                                    <td>Data 1.3</td>
                                </tr>
                                <tr>
                                    <td>Data 2.1</td>
                                    <td>Data 2.2</td>
                                    <td>Data 2.3</td>
                                </tr> 
                                <tr>
                                    <td>Data 3.1</td>
                                    <td>Data 3.2</td>
                                    <td>Data 3.3</td>
                                </tr> 
                            </tbody>
                        </table>
            </xmp>
</pre>
          <div class="example">
            <h3>Responsive table</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Longer column One</th>
                    <th scope="col">Longer column Two</th>
                    <th scope="col">Longer column Three</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Longer data 1.1</td>
                    <td>Longer data  1.2</td>
                    <td>Longer data  1.3</td>
                  </tr>
                  <tr>
                    <td>Longer data  2.1</td>
                    <td>Longer data 2.2</td>
                    <td>Longer data  2.3</td>
                  </tr>
                  <tr>
                    <td>Longer data  3.1</td>
                    <td>Longer data  3.2</td>
                    <td>Longer data  3.3</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <pre>
            <xmp>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Longer column One</th>
                                        <th scope="col">Longer column Two</th>
                                        <th scope="col">Longer column Three</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Longer data 1.1</td>
                                        <td>Longer data  1.2</td>
                                        <td>Longer data  1.3</td>
                                    </tr>
                                    <tr>
                                        <td>Longer data  2.1</td>
                                        <td>Longer data 2.2</td>
                                        <td>Longer data  2.3</td>
                                    </tr> 
                                    <tr>
                                        <td>Longer data  3.1</td>
                                        <td>Longer data  3.2</td>
                                        <td>Longer data  3.3</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
            </xmp>
</pre>
          <div class="example">
            <h3>Striped table</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Column One</th>
                  <th scope="col">Column Two</th>
                  <th scope="col">Column Three</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Data 1.1</td>
                  <td>Data 1.2</td>
                  <td>Data 1.3</td>
                </tr>
                <tr>
                  <td>Data 2.1</td>
                  <td>Data 2.2</td>
                  <td>Data 2.3</td>
                </tr>
                <tr>
                  <td>Data 3.1</td>
                  <td>Data 3.2</td>
                  <td>Data 3.3</td>
                </tr>
              </tbody>
            </table>
          </div>
        <pre>
            <xmp>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Column One</th>
                                    <th scope="col">Column Two</th>
                                    <th scope="col">Column Three</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Data 1.1</td>
                                    <td>Data 1.2</td>
                                    <td>Data 1.3</td>
                                </tr>
                                <tr>
                                    <td>Data 2.1</td>
                                    <td>Data 2.2</td>
                                    <td>Data 2.3</td>
                                </tr> 
                                <tr>
                                    <td>Data 3.1</td>
                                    <td>Data 3.2</td>
                                    <td>Data 3.3</td>
                                </tr> 
                            </tbody>
                        </table>
            </xmp>
</pre>
          <div class="example">
            <h3>Unstyled table</h3>
            <table class="table table-unstyled">
              <thead>
                <tr>
                  <th scope="col">Column One</th>
                  <th scope="col">Column Two</th>
                  <th scope="col">Column Three</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Data 1.1</td>
                  <td>Data 1.2</td>
                  <td>Data 1.3</td>
                </tr>
                <tr>
                  <td>Data 2.1</td>
                  <td>Data 2.2</td>
                  <td>Data 2.3</td>
                </tr>
                <tr>
                  <td>Data 3.1</td>
                  <td>Data 3.2</td>
                  <td>Data 3.3</td>
                </tr>
              </tbody>
            </table>
          </div>
        <pre>
            <xmp>
                        <table class="table table-unstyled">
                            <thead>
                                <tr>
                                    <th scope="col">Column One</th>
                                    <th scope="col">Column Two</th>
                                    <th scope="col">Column Three</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Data 1.1</td>
                                    <td>Data 1.2</td>
                                    <td>Data 1.3</td>
                                </tr>
                                <tr>
                                    <td>Data 2.1</td>
                                    <td>Data 2.2</td>
                                    <td>Data 2.3</td>
                                </tr> 
                                <tr>
                                    <td>Data 3.1</td>
                                    <td>Data 3.2</td>
                                    <td>Data 3.3</td>
                                </tr> 
                            </tbody>
                        </table>
            </xmp>
</pre>
          <div class="example">
            <h3>Unstyled table with error</h3>
            <div class="table-responsive">
              <table class="table table-unstyled table-form">
                <thead>
                  <tr>
                    <th scope="col">Column One</th>
                    <th scope="col">Column Two</th>
                    <th scope="col">Column Three</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="has-error">
                    <td>Data 1.1</td>
                    <td>Data 1.2</td>
                    <td>Data 1.3</td>
                  </tr>
                  <tr>
                    <td>Data 2.1</td>
                    <td>Data 2.2</td>
                    <td>Data 2.3</td>
                  </tr>
                  <tr>
                    <td>Data 3.1</td>
                    <td>Data 3.2</td>
                    <td>Data 3.3</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <pre>
            <xmp>
                        <table class="table table-unstyled table-form">
                            <thead>
                                <tr>
                                    <th scope="col">Column One</th>
                                    <th scope="col">Column Two</th>
                                    <th scope="col">Column Three</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="has-error">
                                    <td>Data 1.1</td>
                                    <td>Data 1.2</td>
                                    <td>Data 1.3</td>
                                </tr>
                                <tr>
                                    <td>Data 2.1</td>
                                    <td>Data 2.2</td>
                                    <td>Data 2.3</td>
                                </tr> 
                                <tr>
                                    <td>Data 3.1</td>
                                    <td>Data 3.2</td>
                                    <td>Data 3.3</td>
                                </tr> 
                            </tbody>
                        </table>
            </xmp>
</pre>
          
          
          
        </div>
      </div>
