      <div class="row contents">
        <!--nav class="col-sm-3">
        <h2>Contents</h2>
        <ol class="list-unstyled list-navigation">
          <li><a href="#grid-system">Grid system</a></li>
          <li><a href="#grid-variations">Grid variations</a></li>
          <li><a href="#">Masthead</a></li>
        </ol>
      </nav-->
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Author</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>31 July 2014</td>
              <td>Wiliam Elworthy</td>
              <td>Updated the typography section to the NTA font. Updated the style-guide to use the NTA font as the default stack.</td>
            </tr>
            <tr>
              <td>19 May 2014</td>
              <td>David Baird</td>
              <td>Updated the index to include description. Added the branding and the change log and some links in the content guide. </td>
            </tr>
            <tr>
              <td>30 May 2014</td>
              <td>Tom Carrington</td>
              <td>Added textarea patterns and defined form-control widths. </td>
            </tr>
            <tr>
              <td>2 June 2014</td>
              <td>Tom Carrington</td>
              <td>Added modular classes to data <a href="patterns_web-patterns.php#presenting-data">presenting data</a></td>
            </tr>
            <tr>
              <td>5 September 2014</td>
              <td>Tom Carrington</td>
              <td>Updated header to reflect alpha status.</td>
            </tr>
          </tbody>
        </table>
        <a href="index.php">Back to Home</a>
      </div>
    </div>
