<div class="row">
  <div class="col-md-8">
        <h2>Your two security questions</h2>
        <p class="font-core19z lead">Your security questions will be used to recover your account if you forget your password and when calling the Buisness Service Desk (BSD).
        </p>
        <p>Please complete this section carefully as you'll be asked to remember the answers exactly as answered.</p>
        <form role="form" novalidate>
          <fieldset>
            <legend>Question one</legend>
            <div class="form-group">
              <label for="question1">Choose a question</label>
              <select name="question1" class="form-control" id="question1">
                <option value="">Please select</option>
                <option value=''>Who was your first kiss?</option>
                <option value=''>Where did you hold your wedding reception?</option>
                <option value=''>Where did you meet your partner?</option>
                <option value=''>What was the name of your first toy?</option>
                <option value=''>What was your favourite place to visit as a child?</option>
                <option value=''>What was the first concert you attended?</option>
              </select>
            </div>
            <div class="form-group">
              <label for="answer1">Memorable answer</label>
              <input type="text" class="form-control form-control-sm" name="answer1" id="answer1">
            </div>
        </fieldset>
        <fieldset>
            <legend>Question two</legend>
            <div class="form-group">
              <label for="question2">Choose a question</label>
              <select name="question2" class="form-control" id="question2">
                <option value="">Please select</option>
                <option value=''>What did you want to be when you grew up?</option>
                <option value=''>Where were you in New Years 2000?</option>
                <option value=''>Where were you when you first heard about 9/11?</option>
                <option value=''>Where did you go on your first school trip?</option>
                <option value=''>Where did you go on your first memorable holiday?</option>
                <option value=''>Who was your childhood hero?</option>
              </select>
            </div>
            <div class="form-group">
              <label for="answer1">Memorable answer</label>
              <input type="text" class="form-control form-control-sm" name="answer2" id="answer2">
            </div>
          </fieldset>
        </form>
    </div>
</div>
<div class="row">
  <nav class="module-content-navigation col-sm-12">
      <a href="{{next_action}}" class="button">Continue to PIN number</a>
        <ul class="content-navigation_secondary">
            <li>
                <a href="{{back_action}}">Back</a>
            </li>
        </ul>
  </nav>
</div>
