<div class="row">
  <div class="col-md-8">
        <h3>Your 6 digit PIN</h3>
        <p class="lead">
          Your PIN will be used to confirm your identity once you are signed into {{service_name}} and when calling the Buisness Service Desk (BSD).
        </p>
        <p>Don't tell anyone your PIN.</p>
        <p class="module-second-auth">
            <img class="second-auth__logo" src="img/mot-2.svg" onerror="this.src='img/mot-2.png'; this.onerror=null;" width="55" height="52"/>
            Your [Service Name] PIN:
            <strong class="second-auth__pin">142554</strong>
        </p>
        
  </div>
</div>
<div class="row">
  <nav class="module-content-navigation col-sm-12">
      <a href="{{next_action}}" class="button">Save and continue</a>
        <ul class="content-navigation_secondary">
            <li>
                <a href="{{back_action}}">Back</a>
            </li>
        </ul>
  </nav>
</div>
<div class="row">
  <div class="col-md-8 form-group">
    <div class="panel-indent">
      <strong>If you need to change something</strong><br>
      Your password, email address, secret questions and PIN can be changed in &#8220;Your Profile&#8221;.
    </div>
  </div>
</div>
