<div class="row">
  <div class="col-md-8">
    <h2>Welcome to your account</h2>
    <p class="lead">
      Before you start using {{service_name}} you need to complete some security questions.
    </p>
    <p class="lead">
      Make sure no one can read your screen while you answer these questions.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <form role="form" novalidate>
      <!--
      TC.
      NB the "novalidate" attribute used to disable client-side browser validation
      on HTML5 inputs as we can't style or control content
      -->
      <fieldset>
        <legend>Your email address</legend>
        <p>
          Email is only used to help you recover your account if you have problems signing in.<br >
          We will never send you SPAM.
        </p>
        <div class="form-group">
          <label for="email1">Email address</label>
          <input type="email" class="form-control" name="email1" id="email1">
        </div>
        <div class="form-group">
          <label for="email2">Confirm email address</label>
          <input type="email" class="form-control" name="email2" id="email2">
          <label class="checkbox-inline">
            <input id="emailOptOut" value="emailOptOut" type="checkbox">
            I don't want to supply an email address
          </label>
        </div>
        <div class="form-group">
          <div id="emailWarning" class="panel-indent">
              <strong>You could be without access for up to 5 working days</strong> if you don't supply an email address.<br>
              If you need to recover your account we will have to send your replacement password in the post.
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Your password</legend>
        <div class="form-group">
          <label for="text1">Your password is used to sign in to {{service_name}}.<br />Your password must have:
          <div class="module-criteria" id="password-criteria-scope">
              <ul class="criteria__list">
                <li class="criteria__criterion" data-criteria="minLength" data-criteria-param="8">8, or more, characters</li>
                <li class="criteria__criterion" data-criteria="hasNumeric">1, or more, numbers</li>
                <li class="criteria__criterion" data-criteria="hasMixedCase">upper and lower case letters</li>
              </ul>
              <span>and, must not</span>
              <ul class="criteria__list">
                <li class="criteria__criterion" data-criteria="notMatch" data-criteria-param="carr0000">match your username</li>
              </ul>
            </div>
            Password
          </label>
          <input type="password" class="form-control" id="text1">
        </div>
        <div class="form-group">
          <label for="text2">Confirm password</label>
          <input type="password" class="form-control" id="text2">
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row">
  <nav class="module-content-navigation col-sm-12">
      <a href="{{next_action}}" class="button">Continue to security questions</a>
  </nav>
</div>
<script type="text/javascript">
  var passwordCriteria = new DVSA.criteriaValidation({
    trigger: document.querySelector("#text1"),
    criteria: document.querySelector('#password-criteria-scope')
  });

  var emailOptOut = new DVSA.toggle({
    trigger: document.querySelector("#emailOptOut"),
    target: document.querySelector('#emailWarning')
  });
</script>
