<!DOCTYPE html>
<?php
  $page_title = "Colour palette";
  $task_title = "Pattern library"; 
  $task_step = "Colour palette";
?>
<html lang="en">
  <head>
    <?php include 'pattern-fragments/head-tag.php' ?>
  </head>
  <body>
    <?php include 'pattern-fragments/masthead-pattern-library.php' ?>
    <div class="container">
      <?php include 'pattern-fragments/content-header.php' ?>
      <div class="row contents">
        <nav class="col-sm-3">
          <h2>Contents</h2>
          <ol class="list-unstyled list-navigation">
            <li><a href="#text-colour">Text colour</a></li>
            <!--li><a href="#progress">Progress indicator</a></li>
            <li><a href="#content-nav">Content navigation</a></li>
            <li><a href="#info-notice">Info notice</a></li>
            <li><a href="#info-alert">Info alert</a></li>
            <li><a href="#status">Status</a></li-->
          </ol>
        </nav>
        <div class="col-sm-8 col-sm-offset-1">
          <h2 id="text-colour">Colour contrast</h2>
          <ul>
            <li>The colour contrast ratio for text and interactive elements should be at least 4:5:1 as recommended by the W3C</li>
            <li>You can use tools such as <a href="http://snook.ca/technical/colour_contrast/colour.html">snook.ca</a> to measue the contrast of the colours</li>
            <h2 id="text-colour">Text colours</h2>
            <div class="example">
              <div class="row">
                <div class="col-sm-4">
                  <div class="swatch-wrapper">
                    <h4>Text</h4>
                    <div class="swatch swatch-text-pri"></div>
                    <strong>#0B0C0C</strong>
                    <p>@text-colour</p>
                  </div>
                  <div class="swatch-wrapper">
                    <h4>Secondary text</h4>
                    <div class="swatch swatch-text-sec"></div>
                    <strong>#6F777B</strong>
                    <p>@secondary-text-colour</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="swatch-wrapper">
                    <h4>Links</h4>
                    <div class="swatch swatch-link"></div>
                    <strong>#005EA5</strong>
                    <p>@link-colour</p>
                  </div>
                  <div class="swatch-wrapper">
                    <h4>Secondary text</h4>
                    <div class="swatch swatch-link-hover"></div>
                    <strong>#2E8ACA</strong>
                    <p>@link-hover-colour</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div> <!-- /container -->
        <?php include 'pattern-fragments/footer.php';?>
      </body>
    </html>