      <div class="row contents">
        <div class="col-sm-8">
          <p>The content guide has not yet been developed but you can access some useful information about content writing on gov.uk.</p>
          <ul>
            <li><a href="https://www.gov.uk/service-manual/content-designers/transactions-style-guide" rel="external">Content style guide for services</a></li>
            <li><a href="https://www.gov.uk/service-manual/user-centred-design/resources/writing-for-transactions" rel="external">Writing for transactions</a></li>
          </ul>
        </div>
      </div>
