      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <legend>Options</legend>

    <div class="form-group">
      <fieldset>
        <legend class="form-label">Is the user logged in?</legend>
        <div class="form-group form-group-related">
          <label data-target="user-options" class="block-label" for="progressive-1">
            <input value="Yes" name="radio-indent-group" id="progressive-1" type="radio">
            Yes
          </label>
          <label class="block-label" for="progressive-2">
            <input value="No" name="radio-indent-group" id="progressive-2" type="radio" checked>
            No
          </label>
        </div>
        <div id="user-options" class="panel-indent toggle-content">
          <div class="row">
            
            <div class="col-lg-6">
               <div class="form-group">
                <fieldset>
                  <legend class="form-label">More than one user with this name in the establishment</legend>
                  <p class="help-block">Effects tester id after name</p>
                  <label class="block-label" for="users-2">
                    <input type="radio" value="2" name="users" id="users-2">
                    Yes
                  </label>
                  <label class="block-label" for="users-1">
                    <input type="radio" value="1" name="users" id="users-1" checked>
                    No
                  </label>
                </fieldset>
              </div>
            
            </div>

            <div class="col-lg-6">
             <div class="form-group">
              <label for="Status">What is the user's status</label>
              <p class="help-block">Effects status pill and address</p>
              <select name="Status" id="Status" class="form-control">
                <option value="">Not Qualified</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
            </div>

            
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Single site</legend>
                  <p class="help-block">Effects change site link</p>
                  <label class="block-label" for="radio-site-1">
                    <input type="radio" value="1" name="radio-site" id="radio-site-1">
                    Yes
                  </label>
                  <label class="block-label" for="radio-site-2">
                    <input type="radio" value="2" name="radio-site" id="radio-site-2" checked>
                    No
                  </label>
                </fieldset>
              </div>          

            </div>
          </div>






        </div>
      </fieldset>
    </div>

  </div>
</div>




          </fieldset>
        </div>
      </div>
    </div>

  <script type="text/javascript" src="js/prism.js"></script>

      <script type="text/javascript">

        function renderHeader(){
          if ($("input:radio[name ='radio-indent-group']:checked").val() == "Yes"){
            
            $(".global-header_name, .global-header_address, .global-header_navigation").show();
            
            if ($("#Status").val() == "active"){
              $(".global-header_status, .global-header_address").show();
              $(".global-header_status").removeClass().addClass("global-header_status is-active");
              $(".global-header_status").html( "<strong class='visually-hidden'>Tester status: </strong>Active" );
            }else if($("#Status").val() == "inactive"){
              $(".global-header_status, .global-header_address").show();
              $(".global-header_status").removeClass().addClass("global-header_status is-inactive");
              $(".global-header_status").html( "<strong class='visually-hidden'>Tester status: </strong>Inactive" );
            }else{ 
              $(".global-header_status, .global-header_address").hide();
            }

            if ($("input[name='radio-site']:checked").val() == "1"){
              $(".global-header_address a").hide();
            }else{
              $(".global-header_address a").show();
            }

            if ($("input[name='users']:checked").val() == "2"){
              $(".global-header_user-id").show();
            }else{
              $(".global-header_user-id").hide();
            }
          }else{
            $(".global-header_name, .global-header_address, .global-header_navigation").hide();
          }
        }
        $("#Status, input[name=radio-site], input[name=users], input[name=radio-indent-group]").change(renderHeader);

        // $('.example').each(function(index) {
        //   //alert(index);
        //   var $this = $(this);
        //   //var sVisability = "block"; // "block" | "none" 
        //   var sVisability = "none";
        //   $("<pre/>", { class: "language-markup", id: "code-block-" + index, style: "display:"+sVisability+";"})
        //     .append($("<code/>",{ text: $this.html().replace("col-sm-12","col-sm-8") }))
        //       .appendTo($this).before(
        //         $("<p/>",{class:"code-link"}).append($("<a/>", { text: "Toggle code", href: '#', onclick: '$("#code-block-' + index + '").slideToggle("fast");return false;'}))
        //       );
                      
        // });

      /*
          QUICK JS TO SHOW PROGRESSIVE ENHANCEMENT OF BLOCK RADIOS
          Taken from: http://govuk-elements.herokuapp.com/#guide-forms
      */
      $(".block-label").each(function() {
      // Add focus
      $(".block-label input").focus(function() {
        $("label[for='" + this.id + "']").addClass("add-focus");
        }).blur(function() {
        $("label").removeClass("add-focus");
      });

      // Add selected class
      $('input:checked').parent().addClass('selected');

    });

    // Add/remove selected class
    $('.block-label').find('input[type=radio], input[type=checkbox]').click(function() {

      $('input:not(:checked)').parent().removeClass('selected');
      $('input:checked').parent().addClass('selected');

      $('.toggle-content').hide();
      var target = $('input:checked').parent().attr('data-target');
      $('#'+target).show();

    });
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

<script type="text/javascript">
    $(".global-header_name,.global-header_address,.global-header_navigation").hide();
</script>
