        <!-- TITLE BAR: REQUIRED 
          
          if a stepped task:
            The task name should be within small tag & content in body of h1
          else 
            Don't use the small tag

        -->
        {{> content-header }}

    <!-- CONTENTS -->
    <div class="row contents">
      <nav class="col-sm-3">
        <h2>Your progress</h2>
        <div class="progress-indicator">
          <ul>
            <li><a href="#" class="btn btn-link">About you</a><span class="pull-right">Edit</span></li>
            <li class="active"><a href="#" class="btn btn-link">Contact Details</a></li> <!-- "btn btn-link" required to inline-block/ align span and link BUT it adds padding but .btn:focus makes text white!!-->
            <li><a href="#" class="btn btn-link">Convictions</a></li>
            <li><a href="#" class="btn btn-link">Summary</a></li>
          </ul>
        </div>
      </nav>
      
      <div class="col-sm-8 col-sm-offset-1">
          {{> form-simple-contact }}
      </div>
    </div>

