      <div class="contents">
        <div class="row">
          <div class="col-md-8">
            <h2>Paragraph</h2>
            <p>A paragraph of text should be in a containing div no larger than two thirds of the main container (normally col-md-8) to ensure the line lenths remain a comfortable legth for reading. Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in.</p>
          </div>
        </div>
        <hr class="hr-thin"/>
        <div class="row">
          <div class="col-md-4">
            <h2>One third</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at faucibus augue. Duis congue sollicitudin purus ac aliquet. Nulla viverra non lectus ut iaculis. Integer quis laoreet quam, non tristique felis.</p>
          </div>
          <div class="col-md-8">
            <h2>Two thirds</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
        </div>
        <hr class="hr-thin"/>
        <div class="row">
          <div class="col-md-6">
            <h2>One half</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
          <div class="col-md-6">
            <h2>One half</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
        </div>
        <hr class="hr-thin"/>
        <div class="row">
          <div class="col-md-4">
            <h2>One third</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
          <div class="col-md-4">
            <h2>One third</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
          <div class="col-md-4">
            <h2>One third</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
        </div>
        <hr class="hr-thin"/>
        <div class="row">
          <div class="col-md-3">
            <h2>One quarter</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
          <div class="col-md-3">
            <h2>One quarter</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
          <div class="col-md-3">
            <h2>One quarter</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
          <div class="col-md-3">
            <h2>One quarter</h2>
            <p>Donec viverra iaculis nisi, et scelerisque nunc aliquam ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur diam nisl, pellentesque luctus leo cursus at. Donec venenatis blandit metus eget commodo. In blandit aliquam tortor ac ullamcorper.</p>
            <p>Mauris viverra magna vitae mi tempor mattis eget sagittis augue. Pellentesque eget arcu felis. Duis porttitor odio nulla, venenatis pulvinar arcu posuere in. </p>
          </div>
        </div>
        </div> <!--end contents  -->
        
        
      </div>
    </div>
