      <div class="row">
        <div class="col-lg-12">
          <!-- PROGRESS TRACKER: OPTIONAL -->
          <div class="progress-tracker">
            <ul class="list-unstyled">
              <li class="done"><i class="fa fa-arrow-circle-right"></i>Step name</li>
              <li class="active"><i class="fa fa-arrow-circle-right"></i>Step name</li>
              <li><i class="fa fa-arrow-circle-right"></i>Step name</li>
              <li><i class="fa fa-arrow-circle-right"></i>Step name</li>
            </ul>
          </div>
        </div>
      </div>
      {{> content-header }}
      <!--Tom's edit-->
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="validation-summary visually-hidden">
            <h2>There was problem with the information you entered:</h2>
            <ol>
              <li><a href="#error1">First name - you must enter this</a></li>
              <li><a href="#error2">Gender - you must select a gender</a></li>
              <li><a href="#error3">Date of birth - you must enter this</a></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <form role="form" novalidate>
            <!--
            TC.
            NB the "novalidate" attribute used to disable client-side browser validation
            on HTML5 inputs as we can't style or control content
            -->
            <fieldset>
              <legend>Your details</legend>
              <div class="form-group">
                <label for="text1">First name</label>
                <input type="text" class="form-control" id="text1">
              </div>
              <div class="form-group">
                <label for="text2">Middle name</label>
                <input type="text" class="form-control" id="text2">
              </div>
              <div class="form-group">
                <label for="text3">Last name</label>
                <input type="text" class="form-control" id="text3">
              </div>
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Gender</legend>
                  <label class="block-label" for="radio-1-1">
                    <input type="radio" value="M" name="radio-1-group" id="radio-1-1">
                    Male
                  </label>
                  <label class="block-label" for="radio-1-2">
                    <input type="radio" value="F" name="radio-1-group" id="radio-1-2">
                    Female
                  </label>
                </fieldset>
              </div>
              <div class="form-group">
                
                <fieldset>
                  <legend class="form-label">Date of birth</legend>
                  <div class="date-group">
                    <div class="form-group form-group-day">
                      <label for="text4">Day</label>
                      <input type="text" pattern="[0-9]*" id="text4" class="form-control">
                    </div>
                    <div class="form-group form-group-month">
                      <label for="text5">Month</label>
                      <input type="text" pattern="[0-9]*" id="text5" class="form-control">
                    </div>
                    <div class="form-group form-group-year">
                      <label for="text6">Year</label>
                      <input type="text" pattern="[0-9]*" id="text6" class="form-control">
                    </div>
                  </div>
                  <!--
                  TC.
                  NB the "tel" type attribute - "number" should only be used for
                  *true* floating point numbers. Some browsers will strip leading zeros
                  & add regional formatting to numbers. e.g. the year 1979 becomes 1,979
                  -->
                  <!--
                  TC.
                  Assume we are not using this thru' modinizr/progressive enhancement?
                  <div class="date-of-birth native-date-of-birth">
                    <p class="form-hint">For example, 08 April 2014</p>
                    <input type="date" class="form-control">
                  </div>
                  -->
                </fieldset>
              </div>
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Do you know their National Insurance number?</legend>
                  <div class="form-group form-group-related">
                    <label data-target="example-ni-number" class="block-label" for="radio-indent-1">
                      <input type="radio" value="Yes" name="radio-indent-group" id="radio-indent-1">
                      Yes
                    </label>
                    <label class="block-label" for="radio-indent-2">
                      <input type="radio" value="No" name="radio-indent-group" id="radio-indent-2">
                      No
                    </label>
                  </div>
                  <div id="example-ni-number" class="panel-indent toggle-content">
                    <label class="form-label" for="national-insurance">National Insurance number</label>
                    <input type="text" id="national-insurance" class="form-control">
                  </div>
                </fieldset>
              </div>
            </fieldset>
            <fieldset>
              <legend>Contact details</legend>
              <div class="form-group">
                <label for="text8">Home address</label>
                <input type="text" class="form-control" id="text8" >
              </div>
              <div class="form-group form-group-flowing">
                <label for="text9" class="visually-hidden">Home address line 2</label>
                <input type="text" class="form-control" id="text9">
              </div>
              <div class="form-group form-group-flowing">
                <label for="text10" class="visually-hidden">Home address line 3</label>
                <input type="text" class="form-control" id="text10">
              </div>
              <div class="form-group">
                <label for="text11">Town or city</label>
                <input type="text" class="form-control" id="text11">
              </div>
              <div class="form-group">
                <label for="text12">Country (optional)</label>
                <input type="text" class="form-control" id="text12">
              </div>
              <div class="form-group">
                <label for="text13">Postcode</label>
                <input type="text" class="form-control form-control-sm" id="text13">
              </div>
              <div class="form-group">
                <label for="tel1">Telephone number</label>
                <input type="tel" class="form-control form-control-sm" id="tel1">
              </div>
            </fieldset>
            <fieldset>
              <legend>Sign in details</legend>
              <div class="form-group">
                <label for="email1">Email address</label>
                <p class="help-block">This will be used as your username</p>
                <input type="email" class="form-control" id="email1" >
              </div>
              <div class="form-group">
                <label for="email2">Confirm email address</label>
                <input type="email" class="form-control" id="email2">
              </div>
              <div class="form-group">
                <label for="password1">Password</label>
                <p class="help-block">Your password should be a minimum of 8 characters, containing both upper and lower case letters and at least one number</p>
                <input type="password" class="form-control" id="password1">
              </div>
              <div class="form-group">
                <label for="password2">Confirm password</label>
                <input type="password" class="form-control" id="password2">
              </div>
            </fieldset>
            <fieldset>
              <legend>Security details</legend>
              <div class="form-group">
                <label for="select1">Security question</label>
                <p class="help-block">We will ask you to answer the security question to help us identify you if you ever forget your password</p>
                <select class="form-control" id="select1">
                  <option>What was your childhood nickname?</option>
                </select>
              </div>
              <div class="form-group">
                <label for="text14">Answer</label>
                <input type="text" class="form-control" id="text14">
              </div>
            </fieldset>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
          </form>
        </div>
      </div>
      <a href="#" onclick=" return initErrors();">Initiate errors</a>
      <script type="text/javascript">
      /*
      QUICK JS TO SHOW PROGRESSIVE ENHANCEMENT OF BLOCK RADIOS
      Taken from: http://govuk-elements.herokuapp.com/#guide-forms
      */
      $(".block-label").each(function() {
      // Add focus
      $(".block-label input").focus(function() {
      $("label[for='" + this.id + "']").addClass("add-focus");
      }).blur(function() {
      $("label").removeClass("add-focus");
      });
      // Add selected class
      $('input:checked').parent().addClass('selected');
      });
      // Add/remove selected class
      $('.block-label').find('input[type=radio], input[type=checkbox]').click(function() {
      $('input:not(:checked)').parent().removeClass('selected');
      $('input:checked').parent().addClass('selected');
      $('.toggle-content').hide();
      var target = $('input:checked').parent().attr('data-target');
      $('#'+target).show();
      });
      function initErrors(){
      if ($(".validation-summary").hasClass("visually-hidden")){
      $("#text1").parent().addClass("has-error").find("label").append("<span id='error1' class='validation-message'>You must enter this</span>");
      $("#radio-1-1").parent().parent().parent().addClass("has-error").find("legend").append("<span id='error2' class='validation-message'>You must select a gender</span>");
      $("#text4").parent().parent().parent().parent().addClass("has-error").find("legend").append("<span id='error3' class='validation-message'>You must enter a date of birth</span>");
      $(".validation-summary").removeClass("visually-hidden");
      
      }
      window.scrollTo(0,0);
      return false;
      }
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
      </script>
      <!--end -->
      
