{{{ hero }}}  
    <div class="row">
        <div class="col-sm-6">
          <h2>Placeholder</h2>
          <img src="http://placehold.it/700x300&text=Component" style="width:100%;">
        </div>
        <div class="col-sm-6">
          <h2>Placeholder</h2>
          <img src="http://placehold.it/700x300&text=Component" style="width:100%;">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6"><h2>Placeholder</h2>
            <img src="http://placehold.it/700x400/333385/FFFFFF&text=Component" style="width:100%;"></div>
            <div class="col-sm-6"><h2>Placeholder</h2>
            <img src="http://placehold.it/700x400&text=Component" style="width:100%;"></div>
          </div>
          <h2>Placeholder</h2>
          <img src="http://placehold.it/700x495&text=Component" style="width:100%;">
        </div>
        <div class="col-sm-6">
          <!--
          <h2>Placeholder</h2>
          <img src="http://placehold.it/700x200&text=Content area" style="width:100%;">
          -->
          {{> module-notification }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>Placeholder</h2>
          <img src="http://placehold.it/700x300/333385/FFFFFF&text=Component" style="width:100%;">
        </div>
        <div class="col-sm-4">
          <h2>Placeholder</h2>
          <img src="http://placehold.it/700x300/333385/FFFFFF&text=Component" style="width:100%;">
        </div>
        <div class="col-sm-4">
          <h2>Placeholder</h2>
          <img src="http://placehold.it/700x300/333385/FFFFFF&text=Component" style="width:100%;">
        </div>
      </div>
      
