      <div class="row contents">
        <nav class="col-sm-3">
          <h2>Contents</h2>
          <ol class="list-unstyled list-navigation">
            <li><a href="#page-templates">Page templates</a></li>
            <li><a href="#functionality-examples">Functionality examples</a></li>
          </ol>
        </nav>
        <div class="col-sm-8 col-sm-offset-1">
          <h2 id="page-templates">Page templates</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae at nulla, repudiandae, reprehenderit adipisci tenetur aliquid alias reiciendis iure accusantium itaque quam nihil velit. Ipsum beatae, quaerat unde. Soluta!</p>
          <ul class="list-unstyled">
            <li><a href="example-page-task-linear">See an example of a linear task</a></li>
            <li><a href="example-page-task-non-linear">See an example of a non-linear task</a></li>
            <li><a href="example-user-home?hero=1">See an example of user home (hero #1)</a></li>
            <li><a href="example-user-home?hero=2">See an example of user home (hero #2)</a></li>
            <li><a href="example-user-home?hero=3">See an example of user home (hero #3)</a></li>
          </ul>
          <h2 id="functionality-examples">Functionality examples</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae at nulla, repudiandae, reprehenderit adipisci tenetur aliquid alias reiciendis iure accusantium itaque quam nihil velit. Ipsum beatae, quaerat unde. Soluta!</p>
          <ul class="list-unstyled">
            <li><a href="example-header-tester">See an example of a users' header</a></li>
            <li><a href="claim-account">Claim account</a></li>
          </ul>
        </div>
      </div>
