<!DOCTYPE html>
<?php
  $page_title = "Web patterns";
  $task_title = "Pattern library"; 
  $task_step = "Web patterns";
?>
<html lang="en">
  <head>
    <?php include 'pattern-fragments/head-tag.php' ?>
  </head>
  <body class="language-markup">
    <?php include 'pattern-fragments/masthead-pattern-library.php' ?>
    <div class="container">
      <?php include 'pattern-fragments/content-header.php' ?>
      <div class="row contents">
        <nav class="col-sm-3">
          <h2>Contents</h2>
          <ol class="list-unstyled list-navigation">
            <li><a href="#forms">Forms</a></li>
            <li><a href="#divider">Dividers</a></li>
            <li><a href="#progress">Progress indicator</a></li>
            <li><a href="#content-nav">Content navigation</a></li>
            <li><a href="#info-notice">Info notice</a></li>
            <li><a href="#info-alert">Info alert</a></li>
            <li><a href="#status">Status</a></li>
          </ol>
        </nav>
        <div class="col-sm-8 col-sm-offset-1">
          <h2 id="forms">Forms</h2>
          <p><a href="example-form" title="See an example of DVSA form layout">See an example of DVSA form layout</a></p>
          <h3 id="fieldsets-and-labels">Fieldsets and legends</h3>
          <ul>
            <li>a <code>&lt;fieldset></code> element must be used to group related form controls</li>
            <li>the first element inside a fieldset must be a <code>&lt;legend></code> element which describes the group and acts as the section heading</li>
            <li><code>&lt;fieldset></code> elements can be nested. For example: <a href="#dates">dates</a>, <a href="#radio-buttons">radio buttons</a> and <a href="#checkboxes">checkboxes</a></li>
            <li>Do not use heading the elements <code>&lt;h1></code> - <code>&lt;h6></code> to create section headings within a form</li>
          </ul>
          <div class="example"><form role="form" >
            <div class="row">
              <div class="col-sm-8">
                <fieldset>
                  <legend>Legend</legend>
                  <div class="form-group">
                    <label for="text1">Label</label>
                    <input type="text" class="form-control" id="text1">
                  </div>
                  <div class="form-group">
                    <!-- etc. -->
                  </div>
                  <div class="form-group">
                    <!-- etc. -->
                  </div>
                </fieldset>
              </div>
            </div>
          </form></div>
          <h3 id="labels">Labels</h3>
          <ul>
            <li>a <code>&lt;label></code> element represents a question in the form</li>
            <li>all form fields should be given labels</li>
            <li>labels should be aligned above their fields</li>
            <li>labels should be associated with form fields using the <code>for</code> attribute</li>
          </ul>
          <p>Click on the label "First name" to bring focus to the form field. </p>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="label-1">First name</label>
                <input type="text" class="form-control" id="label-1">
              </div>
            </div>
          </div></div>
          <h3 id="help-text">Help text</h3>
          <ul>
            <li>help text it is used for clarifying why certain questions are being asked, alleviating security and privacy concerns and recommending ways of providing answers</li>
            <li>don’t use placeholder text in fields</li>
            <li>help text should be held within a <code>&lt;p class="help-block"></code> element</li>
            <li>help text should sit between the <code>&lt;label></code> and the form field</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="email1">Email address</label>
                <p class="help-block">This will be used as your username</p>
                <input type="email" class="form-control" id="email1" >
              </div>
            </div>
          </div></div>
          <h3 id="simple-inputs">Simple inputs</h3>
          <ul>
            <li>require a <code>form-control</code> class</li>
            <li>to override the default (maximum) width add a size class (<code>form-control-xxs</code> -  <code>form-control-xl</code>)</li>
            <li>to force an input to always fill it's parent use the <code>form-control-max</code> class</li>
            <li>use care when implementing <code>&lt;input type="number"/></code> as it exhibits inconsistent behaviour across browsers</li>
            <li>if <code>&lt;input type="number"/></code> is used always apply <code>min</code>, <code>max</code> and <code>step</code> attributes</li>
            <li>do <strong>not</strong> use the <code>max-length</code> attribute on form fields as this can lead to confusion. The maximum allowed length should be enforced through validation</li>
            <li>for sensitive user data, for example bank details or username, add an <code>autocomplete="off"</code> attribute to ensure the browser doesn't remember the information</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="simple-1">Text type</label>
                <input type="text" class="form-control" id="simple-1">
              </div>
              <div class="form-group">
                <label for="simple-2">Email type</label>
                <input type="email" class="form-control" id="simple-2">
              </div>
              <div class="form-group">
                <label for="simple-3">Tel type</label>
                <input type="tel" class="form-control" id="simple-3">
              </div>
              <div class="form-group">
                <label for="simple-4">Number type</label>
                <input type="number" class="form-control" id="simple-4" min="0" max="100" step="10">
              </div>
              <div class="form-group">
                <label for="simple-5">Password type</label>
                <input type="password" class="form-control" id="simple-5">
              </div>
              <!--
              Size overrides can be applied to any input with a form-contol class
              -->
              <div class="form-group">
                <label for="simple-6">form-control-xxs</label>
                <input type="text" class="form-control form-control-xxs" id="simple-6">
              </div>
              <div class="form-group">
                <label for="simple-7">form-control-xs</label>
                <input type="text" class="form-control form-control-xs" id="simple-7">
              </div>
              <div class="form-group">
                <label for="simple-8">form-control-sm</label>
                <input type="text" class="form-control form-control-sm" id="simple-8">
              </div>
              <!--
              The default form-control class takes care of form-control-md
              -->
              
              <div class="form-group">
                <label for="simple-9">form-control-lg</label>
                <input type="text" class="form-control form-control-lg" id="simple-9">
              </div>
              <div class="form-group">
                <label for="simple-10">form-control-xl</label>
                <input type="text" class="form-control form-control-xl" id="simple-10">
              </div>
              <div class="form-group">
                <label for="simple-11">form-control-max</label>
                <input type="text" class="form-control form-control-max" id="simple-11">
              </div>
            </div>
          </div></div>
          <h3 id="drop-down-lists">Drop-down lists</h3>
          <ul>
            <li>require a <code>form-control</code> class</li>
            <li>to override the default (maximum) width add a size class (<code>form-control-xxs</code> -  <code>form-control-xl</code>)</li>
            <li>to force an input to always fill it's parent use the <code>form-control-max</code> class</li>
            <li>where possible avoid using drop-down lists - use radio buttons or checkboxes instead</li>
            <li>do <strong>not</strong> use a drop-down list to present the user with 2 options, instead use the <a href="#radio-buttons">Radio button</a> pattern</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="drop-down-1">Drop-down list</label>
                <select class="form-control" id="drop-down-1">
                  <option value="">Please select</option>
                  <option value="1">Option 1</option>
                </select>
              </div>
            </div>
          </div></div>
          <h3 id="text-areas">Textareas</h3>
          <ul>
            <li>require a <code>form-control</code> class</li>
            <li>to override the default (maximum) width add a size class (<code>form-control-xxs</code> -  <code>form-control-xl</code>)</li>
            <li>to force an input to always fill it's parent use the <code>form-control-max</code> class</li>
            <li>to allow the user to resize the control vertically use the <code>flexible-vert</code> class</li>
            <li>use the <code>rows</code> atribute to define height</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="textarea-1">Standard textarea (no user resize)</label>
                <textarea class="form-control" rows="8" id="textarea-1"></textarea>
              </div>
              <div class="form-group">
                <label for="textarea-3">Textarea  (vertical user resize)</label>
                <textarea class="form-control flexible-vert" rows="8" id="textarea-3"></textarea>
              </div>
            </div>
          </div></div>
          <h3 id="radio-buttons">Radio buttons</h3>
          <ul>
            <li>use radio buttons to let users choose a <strong>single</strong> option from a list</li>
            <li>radio buttons must be contained within a <code>&lt;fieldset></code> element using a <code>&lt;legend class="form-label"></code> element as the associated "question"</li>
            <li>to give the radio buttons their block form apply a class of <code>block-label</code> to the <code>&lt;label/></code></li>
            <li>radio buttons have been designed with large hit areas to be easier to select</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Gender</legend>
                  <label class="block-label" for="radio-1-1">
                    <input type="radio" value="M" name="radio-1-group" id="radio-1-1">
                    Male
                  </label>
                  <label class="block-label" for="radio-1-2">
                    <input type="radio" value="F" name="radio-1-group" id="radio-1-2">
                    Female
                  </label>
                </fieldset>
              </div>
            </div>
          </div></div>
          <ul>
            <li>for more than two options, radio buttons must be stacked using <code>&ltlabel class="block-label label-clear" for="..."></code></li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Fuel type</legend>
                  <label class="block-label label-clear" for="radio-2-1">
                    <input type="radio" value="M" name="radio-2-group" id="radio-2-1">
                    Petrol
                  </label>
                  <label class="block-label label-clear" for="radio-2-2">
                    <input type="radio" value="F" name="radio-2-group" id="radio-2-2">
                    Diesel
                  </label>
                  <p class="alternative">or</p>
                  <label class="block-label label-clear" for="radio-2-3">
                    <input type="radio" value="F" name="radio-2-group" id="radio-2-3">
                    Electric
                  </label>
                </fieldset>
              </div>
            </div>
          </div></div>
          <h3 id="checkboxes">Checkboxes</h3>
          <ul>
            <li>use checkboxes to let users select either <strong>on/off toggles</strong> or where <strong>multiple</strong> selections are possible</li>
            <li>make it clear with words when users can select one or multiple options</li>
            <li>checkboxes must be contained within a <code>&lt;fieldset></code> element using a <code>&lt;legend class="form-label"></code> element as the associated "question"</li>
            <li>to give the checkboxes their block form apply a class of <code>block-label</code> to the <code>&lt;label/></code></li>
            <li>checkboxes have been designed with large hit areas to be easier to select</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Two choices</legend>
                  <label class="block-label" for="checkbox-1-1">
                    <input type="checkbox" value="1" name="checkbox-1-group" id="checkbox-1-1">
                    Checkbox 1
                  </label>
                  <label class="block-label" for="checkbox-1-2">
                    <input type="checkbox" value="2" name="checkbox-1-group" id="checkbox-1-2">
                    Checkbox 2
                  </label>
                </fieldset>
              </div>
            </div>
          </div></div>
          <ul>
            <li>for more than two options, checkboxes must be stacked using <code>&ltlabel class="block-label label-clear" for="..."></code></li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Three choices</legend>
                  <p class="help-block">Select all that apply</p>
                  <label class="block-label label-clear" for="checkbox-2-1">
                    <input type="checkbox" value="1" name="checkbox-2-group" id="checkbox-2-1">
                    Checkbox 1
                  </label>
                  <label class="block-label label-clear" for="checkbox-2-2">
                    <input type="checkbox" value="2" name="checkbox-2-group" id="checkbox-2-2">
                    Checkbox 2
                  </label>
                  <label class="block-label label-clear" for="checkbox-2-3">
                    <input type="checkbox" value="3" name="checkbox-2-group" id="checkbox-2-3">
                    Checkbox 3
                  </label>
                </fieldset>
              </div>
            </div>
          </div></div>
          <ul>
            <li>Large hit area checkboxes are not always appropriate. Use standard checkboxes for on/off toggles</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="text7">Driving licence number</label>
                <input type="text" class="form-control" id="text7">
                <label class="checkbox-inline">
                  <input type="checkbox" id="checkbox1" value="option1"> Non UK licence
                </label>
              </div>
            </div>
          </div></div>
          <h3 id="flowing-inputs">Flowing inputs</h3>
          <ul>
            <li>it may be necessary, for example in the case of address details, to make a number of inputs follow a single label</li>
            <li>ensure all fields maintain their valid labels - by hiding the label with a class of <code class="language">visually-hidden</code></li>
            <li>to reduce the spacing between elements apply a class of <code>form-group-flowing</code> to the <code>&lt;div class="form-group"></code> element</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <fieldset>
                <legend>Contact details</legend>
                <div class="form-group">
                  <label for="flowing-1">Home address</label>
                  <input type="text" class="form-control" id="flowing-1" >
                </div>
                <div class="form-group form-group-flowing">
                  <label for="flowing-2" class="visually-hidden">Home address line 2</label>
                  <input type="text" class="form-control" id="flowing-2">
                </div>
                <div class="form-group form-group-flowing">
                  <label for="flowing-3" class="visually-hidden">Home address line 3</label>
                  <input type="text" class="form-control" id="flowing-3">
                </div>
                <div class="form-group">
                  <label for="flowing-4">Town or city</label>
                  <input type="text" class="form-control" id="flowing-4">
                </div>
                <div class="form-group">
                  <label for="flowing-5">Country (optional)</label>
                  <input type="text" class="form-control" id="flowing-5">
                </div>
                <div class="form-group">
                  <label for="flowing-6">Postcode</label>
                  <input type="text" class="form-control form-control-sm" id="flowing-6">
                </div>
              </fieldset>
            </div>
          </div></div>
          <h3 id="dates">Dates</h3>
          <ul>
            <li>dates should be presented as 3 free format fields without using <code>placeholder</code> text</li>
            <li>dates must be contained within a <code>&lt;fieldset></code> element using a <code>&lt;legend class="form-label"></code> element as the associated "question"</li>
            <li>use <code>&lt;input type="text" pattern="[0-9]*"></code> as <code>number</code> exhibits inconsistent behaviour across browsers</li>
            <li>ensure the <code>form-group-day</code>, <code>form-group-month</code> and <code>form-group-year</code> classes are correctly applied</li>
          </ul>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <fieldset>
                <legend>About you</legend>
                <div class="form-group">
                  <fieldset>
                    <legend class="form-label">Date of birth</legend>
                    <div class="date-group">
                      <div class="form-group form-group-day">
                        <label for="text4">Day</label>
                        <input type="text" pattern="[0-9]*" id="text4" class="form-control">
                      </div>
                      <div class="form-group form-group-month">
                        <label for="text5">Month</label>
                        <input type="text" pattern="[0-9]*" id="text5" class="form-control">
                      </div>
                      <div class="form-group form-group-year">
                        <label for="text6">Year</label>
                        <input type="text" pattern="[0-9]*" id="text6" class="form-control">
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
          </div></div>
          <h3 id="progressive-engagement">Progressive engagement</h3>
          <ul>
            <li>where possible, if a question is dependant on a previous answer only reveal the related question once it becomes applicable</li>
            <li>apply a <code>data-target</code> attribute to the input controlling the additional question with a value of the <code>id</code> to be revealed</li>
            <li>if JavaScript is disabled the additional question will always show</li>
          </ul>
          <p>Click on "Yes" to see how this works. </p>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <fieldset>
                  <legend class="form-label">Do you know their National Insurance number?</legend>
                  <div class="form-group form-group-related">
                    <label data-target="example-ni-number" class="block-label" for="progressive-1">
                      <input type="radio" value="Yes" name="radio-indent-group" id="progressive-1">
                      Yes
                    </label>
                    <label class="block-label" for="progressive-2">
                      <input type="radio" value="No" name="radio-indent-group" id="progressive-2">
                      No
                    </label>
                  </div>
                  <div id="example-ni-number" class="panel-indent toggle-content">
                    <label class="form-label" for="progressive-3">National Insurance number</label>
                    <input type="text" id="progressive-3" class="form-control">
                  </div>
                </fieldset>
              </div>
            </div>
          </div></div>
          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                  <div class="form-group form-group-related">
                        <label for="drop-down-1">Fuel type</label>
                        <select class="form-control" data-target-value="PE,DI,ST,LP,CN,LN,OT,GA,GB,HY,GD,ED" data-target="tgt-fuel" id="fuel" name="fuel">
                            <option value="0">Please select</option>
                            <option value="PE">Petrol</option>
                            <option value="DI">Diesel</option>
                            <option value="EL">Electric</option>
                            <option value="ST">Steam</option>
                            <option value="LP">LPG</option>
                            <option value="CN">CNG</option>
                            <option value="LN">LNG</option>
                            <option value="FC">Fuel Cells</option>
                            <option value="OT">Other</option>
                            <option value="GA">Gas</option>
                            <option value="GB">Gas Bi-Fuel</option>
                            <option value="HY">Hybrid Electric (Clean)</option>
                            <option value="GD">Gas Diesel</option>
                            <option value="ED">Electric Diesel</option>
                        </select>
                    </div>
                    <div id="tgt-fuel" class="panel-indent toggle-content">
                        <label for="progressive-3">Cylinder capacity</label>
                        <p class="help-block">Enter a value in cc, for example, 1400</p>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <script>
                    // THIS NEEDS TO GO JUST BEFORE THE CLOSING BODY TAG
                    DVSA.selectToggle.init();
                </script>
            </div>
          </div></div>

                <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                  <div class="form-group form-group-related">
                        <label for="manu">Manufacturer</label>
                        <select class="form-control" data-target-value="OTHER" data-target="tgt-other-manu" id="manu" name="manu">
                            <option value="">Please select</option>
                            <option value="1">Audi</option>
                            <option value="2">Ford</option>
                            <option value="3">Seat</option>
                            <option value="OTHER">Other</option>
                        </select>
                    </div>
                    <div id="tgt-other-manu" class="panel-indent toggle-content">
                        <label for="other-manu">Manufacturer, if other</label>
                        <input type="text" id="other-manu" class="form-control">
                    </div>
                </div>
                <script>
                    // THIS NEEDS TO GO JUST BEFORE THE CLOSING BODY TAG
                    DVSA.selectToggle.init();
                </script>
            </div>
          </div></div>



          <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                  <div class="form-group form-group-related has-error">
                        <label for="feul-v">
                            Fuel type
                            <span class="validation-message">You must choose a fuel type</span>
                        </label>
                        <select class="form-control" data-target-value="PE,DI,ST,LP,CN,LN,OT,GA,GB,HY,GD,ED" data-target="tgt-cc-v" id="fuel-v" name="fuel-v">
                            <option value="0">Please select</option>
                            <option value="PE">Petrol</option>
                            <option value="DI">Diesel</option>
                            <option value="EL">Electric</option>
                            <option value="ST">Steam</option>
                            <option value="LP">LPG</option>
                            <option value="CN">CNG</option>
                            <option value="LN">LNG</option>
                            <option value="FC">Fuel Cells</option>
                            <option value="OT">Other</option>
                            <option value="GA">Gas</option>
                            <option value="GB">Gas Bi-Fuel</option>
                            <option value="HY">Hybrid Electric (Clean)</option>
                            <option value="GD">Gas Diesel</option>
                            <option value="ED">Electric Diesel</option>
                        </select>
                    </div>
                    <div id="tgt-cc-v" class="panel-indent has-error toggle-content">
                        <label for="cc-v">
                            Cylinder capacity
                            <span class="validation-message">You must enter a cylinder capacity</span>
                        </label>
                        <p class="help-block">Enter a value in cc, for example, 1400</p>
                        <input type="text" id="cc-v" name="cc-v" class="form-control">
                    </div>
                </div>
                <script>
                    // THIS NEEDS TO GO JUST BEFORE THE CLOSING BODY TAG
                    DVSA.selectToggle.init();
                </script>
            </div>
          </div></div>

                <div class="example"><div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                  <div class="form-group form-group-related has-error">
                        <label for="manu-v">
                            Manufacturer
                            <span class="validation-message">You must choose a manufacturer</span>
                        </label>
                        <select class="form-control" data-target-value="OTHER" data-target="tgt-other-manu-v" id="manu-v" name="manu-v">
                            <option value="" selected>Please select</option>
                            <option value="1">Audi</option>
                            <option value="2">Ford</option>
                            <option value="3">Seat</option>
                            <option value="OTHER">Other</option>
                        </select>
                    </div>
                    <div id="tgt-other-manu-v" class="panel-indent toggle-content has-error">
                        <label for="other-manu-v">
                            Manufacturer, if other
                            <span class="validation-message">You must enter a manufacturer</span>
                        </label>
                        <input type="text" id="other-manu-v" class="form-control">
                    </div>
                </div>
                <script>
                    // THIS NEEDS TO GO JUST BEFORE THE CLOSING BODY TAG
                    DVSA.selectToggle.init();
                </script>
            </div>
          </div></div>






          <h2 id="presenting-data">Presenting back data (v2)</h2>
          <ul>
            <li>data should be presented back to users using definition lists <code>&lt;dl /></code></li>
            <li>definition lists must be contained within a <code>&lt;secion class="module-present-data" /></code> element</li>
            <li>data labels <code>&lt;dt&gt;</code> are sentence case and have no punctuation at the end</li>
            <li>there are 2 display patterns fo definition lists <code>horizontal</code> and <code>vertical</code></li>
          </ul>
          <div class="example"><section class="module-present-data">
            <!--
            The correct header level (h1 - h6) should be choosen to match document outline
            -->
            <h2>
            Definition list: vertical
            <span>
            <a href="#">Change this</a>
            </span>
            </h2>
            <dl class="vertical">
              <dt>Registration number </dt>
              <dd>LR54NPU</dd>
              <dt>VIN/Chassis number</dt>
              <dd>JHMBE17405S200204</dd>
              <dt>Fuel Type</dt>
              <dd>Petrol</dd>
            </dl>
          </section>
          <hr class="hr-thin"> <!-- hr.hr-thin used to seperate sections -->
          <section class="module-present-data">
            <h2>
            Definition list: horizontal
            <span>
            <a href="#">Change this</a>
            </span>
            </h2>
            <dl class="horizontal">
              <dt>Registration number </dt>
              <dd>LR54NPU</dd>
              <dt>VIN/Chassis number</dt>
              <dd>JHMBE17405S200204</dd>
              <dt>Fuel Type</dt>
              <dd>Petrol</dd>
            </dl>
          </section></div>
          <ul>
            <li>to highlight important data the font size can be increased by applying a <code>large</code> class</li>
          </ul>
          <div class="example"><section class="module-present-data">
            <h2>
            Definition list: vertical + large
            <span>
            <a href="#">Change this</a>
            </span>
            </h2>
            <dl class="vertical large">
              <dt>Registration number </dt>
              <dd>LR54NPU</dd>
              <dt>VIN/Chassis number</dt>
              <dd>JHMBE17405S200204</dd>
              <dt>Fuel Type</dt>
              <dd>Petrol</dd>
            </dl>
          </section>
          <hr class="hr-thin">
          <section class="module-present-data">
            <h2>
            Definition list: horizontal + large</small>
            <span>
            <a href="#">Change this</a>
            </span>
            </h2>
            <dl class="horizontal large">
              <dt>Registration number </dt>
              <dd>LR54NPU</dd>
              <dt>VIN/Chassis number</dt>
              <dd>JHMBE17405S200204</dd>
              <dt>Fuel Type</dt>
              <dd>Petrol</dd>
            </dl>
          </section></div>
          <h2 id="divider">Dividers</h2>
          <p>Dividers are used to break up content and provide visual boundaries for content areas.</p>
          <div class="example"><p>Thick black divider</p>
            <hr class="hr-thick"/>
            <p>Thin grey divider</p>
          <hr class="hr-thin"/></div>
          <h2 id="progress">Progress indicator</h2>
          <p>The progress indicator is used when the user needs to be guided through a number of steps. It provides both visual orientation of where the user is in the process and also navigation to allow the user to choose the sections they wan to complete. </p>
          <p>This can be seen in any of the applications in the licensing and authoristation area.</p>
          <div class="example"><div class="row">
            <div class="col-sm-5 progress-indicator">
              <ul>
                <li class="active"><a href="#">Business Address</a></li>
                <li><a href="#">AEP</a></li>
                <li><a href="#">Convictions</a></li>
                <li><a href="#">Summary</a></li>
              </ul>
            </div>
          </div></div>
          <h2 id="content-nav">Content navigation</h2>
          <p>The content navigation component is used as single page naviagtion using the anchor tag to link to link to content within the page.</p>
          <div class="example"><div class="row contents">
            <nav class="col-sm-5">
              <h2>Contents</h2>
              <ol class="list-unstyled list-navigation">
                <li><a href="#">Progress indicator</a></li>
                <li><a href="#">Content navigation</a></li>
                <li><a href="#">Spacing</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">Iconography</a></li>
                <li><a href="#">Images</a></li>
              </ol>
            </nav>
          </div></div>
          <h2 id="info-notice">Info notice</h2>
          <p>Use bordered inset text to draw attention to important content on the page.</p>
          <div class="example"><div class="row">
            <div class="col-sm-12">
              <div class="info-notice">
                <p>The predicted test expiry date is <strong>01 October 2014</strong>.</p>
              </div>
            </div>
          </div></div>
          <h2 id="info-alert">Info alert</h2>
          <p>Use an exclamation icon and bold text to draw attention to critical content on the page.</p>
          <div class="example"><div class="row">
            <div class="col-sm-12">
              <div class="info-alert">
                <p>The predicted test expiry date is 01 October 2014.</p>
              </div>
            </div>
          </div></div>
          <h2 id="status">Status</h2>
          <P>RAG status centre aligned with icons</p>
          <div class="example"><div class="row">
            <div class="col-sm-12">
              <div class="status status-success">
                <p class="status-message-lrg icon-approve">This is a success message.</p>
                <p>Sub text of message.</p>
                <p class="status-message-xlrg">ACB1234</p>
              </div>
              <div class="status status-warning">
                <p class="status-message-lrg icon-warning">This is a warning message.</p>
              </div>
              <div class="status status-danger">
                <p class="status-message-lrg icon-reject">This is a danger message.</p>
              </div>
            </div>
          </div></div>
        </div>
      </div>
      </div> <!-- /container -->
      <link href="css/prism.css" media="screen" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="js/prism.js"></script>
      <script type="text/javascript">
      $('.example').each(function(index) {
      //alert(index);
      var $this = $(this);
      //var sVisability = "block"; // "block" | "none"
      var sVisability = "none";
          $("<pre/>", { class: "language-markup", id: "code-block-" + index, style: "display:"+sVisability+";"})
            .append($("<code/>",{ text: $this.html().replace("col-sm-12","col-sm-8") }))
              .appendTo($this).before(
                            $("<p/>",{class:"code-link"}).append($("<a/>", { text: "Toggle code", href: '#', onclick: '$("#code-block-' + index + '").slideToggle("fast");return false;'}))
              );
                      
        });
      /*
          QUICK JS TO SHOW PROGRESSIVE ENHANCEMENT OF BLOCK RADIOS
          Taken from: http://govuk-elements.herokuapp.com/#guide-forms
      */
      $(".block-label").each(function() {
      // Add focus
      $(".block-label input").focus(function() {
        $("label[for='" + this.id + "']").addClass("add-focus");
        }).blur(function() {
        $("label").removeClass("add-focus");
      });
      // Add selected class
      $('input:checked').parent().addClass('selected');
    });
    // Add/remove selected class
    $('.block-label').find('input[type=radio], input[type=checkbox]').click(function() {
      $('input:not(:checked)').parent().removeClass('selected');
      $('input:checked').parent().addClass('selected');
      $('.toggle-content').hide();
      var target = $('input:checked').parent().attr('data-target');
      $('#'+target).show();
    });
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>
<style type="text/css">
    .example > p.code-link {
      background-color: #F5F2F0;
      margin-bottom: 0;
      margin-left: -30px;
      margin-right: -30px;
      padding: 15px 30px;
      border-top: 1px solid #BFC1C3;
      margin-top: 15px;
    }
    .example {
      padding: 30px 30px 0;
      margin-top: 30px;
    }
    .example pre{
      margin: 0 -30px; 
      border: none;
      padding: 15px 30px;
    }
</style>
<?php include 'pattern-fragments/footer.php';?>
<!-- 
Comment added 08:30 12/09/2013
-->
            </body>
        </html>
