<?php

return array(
    'apiUrl' => 'http://mot-api/',

    'mot-api-module-config-cache' => '/tmp/module-config-cache.mot-api.php',
    'mot-api-module-map-cache' => '/tmp/module-classmap-cache.mot-api.php',
    'mot-web-frontend-module-config-cache' => '/tmp/module-config-cache.mot-web-frontend.php',
    'mot-web-frontend-module-map-cache' => '/tmp/module-classmap-cache.mot-web-frontend.php',

    'doctrine' => array(
        'connection'    => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params'      => array(
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'motdbuser',
                    'password' => 'password',
                    'dbname'   => 'mot2',
                    'charset'  => 'utf8'
                ),
            ),
        ),
        'configuration' => array(
            'orm_default' => array(
                'generate_proxies' => true,
                'proxy_dir'        => '/var/lib/vosa/DoctrineORMModule/Proxy',
                'proxy_namespace'  => 'DoctrineORMModule\Proxy',
            ),
        )
    ),
    'security' => [
        'obfuscate' => [
            'key'     => 'acjdajsd92md09282822',
            'entries' => [
                'vehicleId' => true,
            ],
        ],
    ],
    'logger' => [
        'output' => '/var/log/dvsa/mot-testsupport.log',
    ],
    'aws' => [
        'statisticsAmazonStorage' => [
            'region' => 'eu-west-1',
            'bucket' => 'statistics-cache-fb',
            'accessKeyId' => 'AKIAIVA4YM4YMJD3NWKQ',
            'secretKey' => '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',
            'root_folder' => 'vagrant',
        ],
    ],
    // These urls will overwrite the default values shipped with the mot\api-client-php package, since need to be
    // different in different environments
    // @See https://gitlab.motdev.org.uk/mot/api-client-php/tree/develop/config
    // @See https://gitlab.motdev.org.uk/webops/hieradata/blob/develop/code/hieradata/global.yaml#L694 & #L695
    'api' => [
        'vehicle_service_url' => 'http://warden:8080/vehicles/',
        'authorisation_service_url' => 'http://openam.motdev.org.uk:8080/sso/',
    ],
);
