*.zip
*.rar
.DS_Store
.idea
fitnesse-standalone.jar
TestResults
coveragelogs

FitNesseRoot/content.txt
FitNesseRoot/ErrorLogs
FitNesseRoot/files
FitNesseRoot/FitNesse/
FitNesseRoot/properties
FitNesseRoot/updateList
vendor
